<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Client: {{client.displayName}}">
  <ion-content id="client-details">

    <div class="list card">

      <div class="item item-avatar custom">
        <img ng-src="{{client.face}}">
        <h2>{{client.displayName}}</h2>
        <p><b>Gender:</b>{{client.gender.name}}</p>
        <p><b>Marital Status:</b> {{client.Client_Fields["Marital Status"] || "Not set"}}</p>
        <p><b>D.O.B:</b> {{client.dateOfBirth}}</p>
        <p><b>Office:</b> {{client.officeName}}</p>
        <p><b>Created:</b> {{client.createdOnDate}}</p>
      </div>

      <div class="button-bar">
        <a ng-click="getPhoto()" class="button button-clear button-positive icon ion-camera">
          Photo </a>
        <a ng-click="print()" class="button button-clear button-positive icon ion-printer">
          Print </a>
        <a href="#/tab/clients/{{client.id}}/edit" class="button button-clear button-positive icon ion-edit">Edit</a>
      </div>

    </div>
    <div class="list card no-text-wrap">

        <ion-item class="item item-icon-left">
          <i class="icon ion-email"></i>
          {{client.Client_Fields.Email || "Not set" }}
        </ion-item>

        <ion-item href="#" class="item item-icon-left">
          <i class="icon ion-person-add"></i>
          Membership: {{ client.clientType.name || "Not set" }}
        </ion-item>
        <ion-item>
          <label class="icon ion-android-call" title="Mobile">
	        </label> {{client.mobileNo || "9876543210"}}
        </ion-item> 
      </ion-list>
    </div>
    <div class="list card">
      <ion-item>
        <label>Education <i class="icon ion-university"></i>:
        </label>{{client.Client_Fields.Education || "Not set"}}
      </ion-item>
      <ion-item>
        <label>Occupation:
        </label>{{client.clientClassification.name || "Not set"}}
      </ion-item>
      <ion-item>
        <a href="#/tab/clients/{{client.id}}/docs" class="button button-block">
          <i class="ion-document-text"> Documents</i></a>
      </ion-item>
      <!-- Family Member Size -->
      <ion-item class="item-divider"> 
        <label>
          Family Size &amp; Details
          <i class="icon icon-right ion-ios-people"></i>
        </label>
      </ion-item>
      <ion-item>
        <div class="item row">
          <div class="col">
            <label> Males: </label>
            {{client.Client_Fields['Number of males'] || "Not set"}}
          </div>
          <div class="col">
            <label> Females: </label>
            {{client.Client_Fields['Number of females'] || "Not set"}}
          </div>
        </div>
      </ion-item>
      
      <ion-item>
        <label> Fathers Name:</label>
        {{client.Client_Fields["Fathers Name"] || "Not set"}}
      </ion-item>
      <ion-item>
        <label> Grandfathers Name: </label>
        {{client.Client_Fields["Grandfathers Name"] || "Not set"}}
      </ion-item>
      <ion-item>
        <label>Next of kin:</label>
        <a href="#/tab/clients/{{client.id}}/next-of-kin"
            class="button button-small button-positive button-outline button-icon icon-right ion-search">
          {{client.Client_NextOfKin.Fullname || "Unspecified"}}
        </a>
        <!-- button class="button button-small rightBtn">
          <i class="icon ion-edit"></i>
          Edit
        </button -->
      </ion-item>
      <ion-item class="item item-divider">
        <label> Client's Address <i class="icon ion-ios-home"></i></label>
      </ion-item>
      <ion-item>
        {{client.Client_Fields.Address || "Not set" }}
        <!-- "45, Av. de la Rue, Bourguignon, France" -->
      </ion-item>
      <ion-item>
        <label>Country</label>: {{client.Client_Fields.Country}}
      </ion-item>
      <ion-item>
        <label>Region</label>: {{client.Client_Fields.Region}}
      </ion-item>
      <ion-item>
        <label>Zone</label>: {{client.Client_Fields.Zone}}
      </ion-item>
      <ion-item>
        <label>Wereda</label>: {{client.Client_Fields.Wereda}}
      </ion-item>
      <ion-item>
        <label>Kebele</label>: {{client.Client_Fields.Kebele}}
      </ion-item>
      <ion-item>
        <label>Unique Place Name</label>: {{client.Client_Fields.UniquePlaceName}}
      </ion-item>
      <ion-item>
        <a href="#/tab/clients/{{client.id}}/edit" class="button button-block">
          <i class="ion-edit"> Edit Info</i>
        </a>
      </ion-item>
    </div>

    

    <div class="list card">
      <ion-item ng-show="client.pending && (rolestat.isAdmin || rolestat.isManagement)">
        <ion-button-bar>
          <button class="button button-assertive left" ng-click="rejectClient(client)">
            Reject
            <i class="icon ion-close-round"></i>
          </button>
          <button class="button button-positive right" ng-click="approveClient(client)">
            Approve
            <i class="icon ion-android-checkmark-circle"></i>
          </button>
        </ion-button-bar>
    </div>

    <div class="card">
      <div class="item item-divider">
        Account Summary
      </div>
      <div class="item item-text-wrap no-padding">
          <ion-item>
             <label>Savings Accounts:</label>
             <span ng-hide="client.savingsAccounts">(None)</span>
              <a href="#/tab/clients/{{client.id}}/savings-apply" class="button positive rightBtn">
                Apply
              </a>
             <table style="width:95%">
             <tbody>
              <tr ng-repeat="sac in client.savingsAccounts">
                <td width="30%"><strong>{{sac.productName}}</strong></td>
                <td><a href="#/tab/savingsAccount/{{sac.id}}">{{sac.accountNo}}</a></td>
                <td><span class="icon ion-social-bitcoin">{{sac.accountBalance}}</span></td>
                <td><a href="#/tab/savingsAccount/{{sac.id}}/transactions">Transactions</a></td>
              </tr>
             </tbody>
             </table>
             <!--i class="icon ion-social-bitcoin">
             {{client.TotalSavings || "25"}}</i-->
          </ion-item>
          <ion-item>
            <label>Loans:</label>
            <span ng-hide="client.loanAccounts.length">(None)</span>
            <a href="#/tab/clients/{{client.id}}/loan-apply"
                class="button button-positive rightBtn">
              Apply
            </a>
            <br />
            <table style="width:95%">
            <tbody>
              <tr ng-repeat="lac in client.loanAccounts">
                <td width="30%"><strong>{{lac.productName}}</strong></td>
                <td><a href="#/tab/loan/{{lac.id}}">{{lac.accountNo}}</a></td>
                <td><span class="icon ion-social-bitcoin">{{lac.loanBalance}}</span></td>
                <td><a href="#/tab/loan/{{lac.id}}/transactions">Transactions</a></td>
              </tr>
            </tbody>
            </table>
          </ion-item>
      </div>
      <!-- ion-item>
        <label>Share Holdings:</label>
        {{client.NumShares || "0"}}
        <a href="#/tab/#" class="button positive rightBtn"> <strong> Buy </strong> </a>
      </ion-item -->
    </div>

  </ion-content>
</ion-view>
