<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style type="text/css">
select {
  width: 50%;
}
</style>
<ion-view view-title="{{data.op}} Client">

  <ion-header-bar>
	  <button class="button button-icon" ng-click="newTask()">
      Edit
      <i class="ion-compose icon"></i>
    </button>
  </ion-header-bar>

  <ion-content class="padding">
    <form name="clientEditForm" novalidate>
    <ion-list>
      <div class="Mandatory">
          <sup><i class="icon ion-asterisk assertive"></i></sup>
          : Mandatory fields
      </div>
      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>
      
      <div class="list card">
        <div class="item item-input-inset">
          <span class="input-label">
            First Name
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>
          <label class="item-input-wrapper">
            <input type="text" name="firstName" id="firstName" size="50" placeholder="Enter First Name"
                ng-model="client.firstname" ng-minlength="3" required />
                <!--pattern=".*[A-Za-z].*"-->
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">
            Last Name
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>
          <label class="item-input-wrapper">
            <input type="text" name="lastName" id="lastName" size="50" placeholder="Enter Last Name"
                ng-model="client.lastname" ng-minlength="3" required />
                <!--pattern=".*[A-Za-z].*"-->
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Gender:</span>
          <label class="item-input-wrapper">
            <select ng-model="client.genderId" ng-options="g.id as g.name for g in codes.genders">
            </select>
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Date of Birth:</span>
          <label class="item-input-wrapper">
            <input type="date" size="15" placeholder="dd/mm/yy" ng-model="client.dateOfBirth">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Mobile:</span>
          <label class="item-input-wrapper">
            <input type="tel" placeholder="Ex :919620568920" ng-model="client.mobileNo">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Email:</span>
          <label class="item-input-wrapper">
            <input type="email" name="email" placeholder="Client Email Address"
                ng-model="client.Client_Fields.Email">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">
            Office
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>
          <label class="item-input-wrapper">
            <select ng-model="client.officeId" ng-options="o.id as o.name for o in codes.offices">
            </select>
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">
            Membership
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>
          <label class="item-input-wrapper">
            <select name="ClientType" ng-model="client.client.ClientType" required>
              <option value="-1" selected>Select Client Type</option>
              <option value="1">Member</option>
              <option value="2">Non-Member</option>
            </select>
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">
            Activation Date
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>
          <label class="item-input-wrapper">
            <input type="date" size="15" placeholder="dd/mm/yy" ng-model="client.activationDate">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Education:</span>
          <label class="item-input-wrapper">
            <input type="text" name="email" size="20" placeholder="Client Education" ng-model="client.Client_Fields.Education">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Occupation:</span>
          <label class="item-input-wrapper">
            <select ng-model="client.clientClassificationId" ng-options="o.id as o.name for o in codes.occupations">
            </select>
          </label>
        </div>

        <!-- Family Member Size -->
        <div class="item item-divider"> 
          <span class="input-label">Family Size </span>
        </div>
        <div class="item row">
          <div class="col">
            <label class="item-input item-select">
              <!-- div class="input-label">Males:</div -->
              <span class="input-label">Males:</span>
              <select ng-model="client.Client_Fields['Number of males']"
                ng-options="i as i for i in [0,1,2,3]">
              </select>
            </label>
          </div>
          <div class="col">
            <label class="item-input item-select">
              <span class="input-label">Females:</span>
              <select ng-model="client.Client_Fields['Number of females']"
                ng-options="i as i for i in [0,1,2,3]">
              </select>
            </label>
          </div>
        </div>

        <div class="item item-input-inset">
          <span class="input-label">Fathers Name:</span>
          <label class="item-input-wrapper">
            <input type="text" name="text" size="20" placeholder="Enter Father's Name" ng-model="client.Client_Fields['Fathers Name']">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Grand Fathers Name:</span>
          <label class="item-input-wrapper">
            <input type="text" name="text" placeholder="Enter Grand Father's Name" ng-model="client.Client_Fields['Grandfathers Name']">
          </label>
        </div>

      </div> <!-- end of ion-list -->

      <!-- Here -->
      <div class="item item-divider"> <!-- input-inset -->
        <label>Full Address:</label>
        <button ng-click="toggleExtraFields()" title="Click for more Fields"
            class="button button-small button-positive rightBtn">
          <i class="icon ion-plus-circled"></i>
        </button>
      </div>

      <div id="xtraFlds" class="list card" ng-show="extraFields">
        <div class="item item-input-inset">
          <span class="input-label">Address :</span>
          <label class="item-input-wrapper">
            <input type="text" title="Your Address in short" name="Address" placeholder="ex : No 243, Boulevard Street, Chicago" ng-model="client.Client_Fields.Address" />
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Country :</span>
          <label class="item-input-wrapper">
            <input type="text" size="10" name="Country" placeholder="ex :Ethiopia" ng-model="client.Client_Fields.Country">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Region :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Region" placeholder="Enter Region's Name" ng-model="client.Client_Fields.Region">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Zone :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Zone" placeholder="Enter Zone's Name" ng-model="client.Client_Fields.Zone">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Wereda :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Wereda" placeholder="Enter Wereda's Name" ng-model="client.Client_Fields.Wereda">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Kebele :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Kebele" placeholder="Enter Kebele's Name" ng-model="client.Client_Fields.Kebele">
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Unique Place Name :</span>
          <label class="item-input-wrapper">
            <input type="text" name="UniquePlaceName" placeholder="Enter Unique Place's Name" ng-model="client.Client_Fields.UniquePlaceName">
          </label>
        </div>

      </div>

      <hr>

      <div class="item item-divider"> <!-- input-inset -->
          <label>Next of Kin Details:</label>
          <span class="button button-small button-positive rightBtn" ng-click="toggleNextOfKin()"
            title="Click for more Fields">
           <i class="icon ion-plus-circled"></i>
          </span>
      </div>

      <div id="nxtOfKin" class="list card" ng-show="nextOfKin">
        <ion-item class="item item-input-inset">
          <span class="input-label">Full Name:</span>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Next of Kin Full Name" ng-model="client.Client_NextOfKin.Fullname">
          </label>
        </ion-item>

        <ion-item class="item item-input-inset">
          <span class="input-label">Gender:</span>
          <label class="item-input-wrapper">
            <select ng-model="client.Client_NextOfKin.genderId" ng-options="g.id as g.name for g in codes.genders">
            </select>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset">
          <span class="input-label">Date of Birth:</span>
          <label class="item-input-wrapper">
            <input type="date" size="15" placeholder="dd/mm/yy" ng-model="client.Client_NextOfKin.dateOfBirth">
          </label>
        </ion-item>
        <ion-item class="item item-input-inset">
          <span class="input-label">Phone No:</span>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Next of Kin Number" ng-model="client.Client_NextOfKin.Phone">
          </label>
        </ion-item>
        <ion-item class="item item-input-inset">
          <span class="input-label">Relationship:</span>
          <label class="item-input-wrapper">
            <select ng-model="client.Client_NextOfKin.Relationship_cd_Relationship" ng-options="r.id as r.name for r in codes.Relationships" />
            </select>
          </label>
        </ion-item>
        <ion-item class="item item-input-inset">
          <span class="input-label">Father's Name:</span>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Father's Name" ng-model="client.Client_NextOfKin['Fathers Name']">
          </label>
        </ion-item>
        <ion-item class="item item-input-inset">
          <span class="input-label">Grand Father's Name:</span>
          <label class="item-input-wrapper">
            <input type="text" placeholder="Grand Father's Name" ng-model="client.Client_NextOfKin['Grandfathers Name']">
          </label>
        </ion-item>


        <div class="item item-input-inset">
          <span class="input-label">Unique Place Name</span>
          <label class="item-input-wrapper">
            <input type="text" title="Your Address in short" name="UniquePName" placeholder="ex : No 243, Boulevard Street, Chicago" ng-model='client.Client_NextOfKin["UniquePlaceName"]' />
            <!-- ng-model="client.Client_Fields.uniquePName" -->
          </label>
        </div>    
        <div class="item item-input-inset">
          <span class="input-label">Country :</span>
          <label class="item-input-wrapper">
            <input type="text" size="10" name="Country" placeholder="ex :Ethiopia" 
                ng-model='client.Client_NextOfKin["Country"]'>
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Region :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Region" placeholder="Enter Region's Name"
                ng-model='client.Client_NextOfKin["Region"]' />
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Zone :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Zone" placeholder="Enter Zone's Name"
                ng-model='client.Client_NextOfKin["Zone"]'>
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Wereda :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Wereda" placeholder="Enter Wereda's Name"
                ng-model='client.Client_NextOfKin["Wereda"]'>
          </label>
        </div>
        <div class="item item-input-inset">
          <span class="input-label">Kebele :</span>
          <label class="item-input-wrapper">
            <input type="text" name="Kebele" placeholder="Enter Kebele's Name" ng-model='client.Client_NextOfKin["Kebele"]'>
          </label>
        </div>

      </div>

        <ion-item>
          <div ng-hide="clientEditForm.firstName.$pristine">
            <span class="ion-warn" ng-show="clientEditForm.firstName.$warn.required">
              First Name is required
            </span>
            <span class="ion-warn" ng-show="clientEditForm.firstName.$warn.minlength">
              First Name must be at least 3 characters
            </span>
          </div>
          <div ng-hide="clientEditForm.lastName.$pristine">
            <span class="ion-warn" ng-show="clientEditForm.lastName.$warn.required">
              Last Name is required
            </span>
            <span class="ion-warn" ng-show="clientEditForm.lastName.$warn.minlength">
              Last Name must be at least 3 characters
            </span>
          </div>
          <ion-item ng-show="message">
            <span class="ion-{{message.type}}">{{message.text}}</span>
          </ion-item>

      	  <button class="button button-block button-positive" 
      		    ng-click="saveClient(client)" ng-disabled="clientEditForm.$invalid">
            <h4>Save</h4>
      	  </button>

        </ion-item>

      </ion-list> <!-- End of List -->
    </form>  
  </ion-content>
</ion-view>
