<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>
label {
 	color: #558;
}
.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;
/*
Acc No | Saving Acc | Balance | Actions
*/
}
</style>

<ion-view view-title="Client Loan Details">
  <ion-content class="padding">
    <img src="img/kmayra.png" width="188" height="60" title="K-Mayra" />
    <div class="list card">
      <div class="item item-divider">
	     <label>Client </label> : {{client.name}}
      </div>
      <ion-item>
	     <label>Acc No | Saving Acc | Balance | Actions</label>
      </ion-item>
      <ion-item ng-repeat="">
	     >> {{AccNo}} | {{SavingAcc}} | {{Balance}} | {{Actions}}
      </ion-item>
    </div>

  </ion-content>
</ion-view>
