<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<style>
.item, ion-item {
/*	margin: 0px; 
	padding: 2px 3px; */
}
.briefInfo {
  margin:0px 5px;
}
</style> 

<ion-view view-title="Client: {{client.displayName}}">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-divider">
        <label>{{client.displayName}}</label>
      </div>
      <div class="item">
        <!-- img class="full-image" ng-src="{{client.face}}" style="width:50px; float:left;" / -->
        <img ng-src="{{client.face}}" class="full-image" style="width:100px; float:left;" />
        <!-- p>
          This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
          the content is from a card-body consisting of an image and paragraph text. The footer
          consists of tabs, icons aligned left, within the card-footer.
        </p -->
        <div class="briefInfo">
          <label>Gender :</label> {{client.gender.name}}
          <br /><label>D.O.B</label>: {{client.dob}}
          <br />
          <label title="Mobile">
            Telephone
            <span class="icon ion-android-call"></span>
          </label>
          : <strong>{{client.mobileNo || "9876543210"}}</strong>

        </div>
      </div>
      <ion-item class="item item-divider item-icon">
        <!-- Email -->
        <span style="padding-left:1px;" class="icon ion-ios-email-outline" title="Email">
        </span>
        : <label>
          {{client.Client_Fields.Email || client.firstname + "@kmayra.org" }}
          </label>
      </ion-item>

    </div>
    <div class="list card">
      <ion-item class="item item-divider">
        <h3><label>Next of Kin Details</label></h3>
      </ion-item>
      <ion-item>
        <label>Full Name</label> :
        {{client.Client_NextOfKin.Fullname || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label>Gender </label> :
        {{client.Client_NextOfKin["Gender"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label title="Mobile">
          Telephone
          <span class="icon ion-android-call"></span>
        </label>
        : <strong>{{client.Client_NextOfKin.Mobile || "Unspecified"}}</strong>
      </ion-item>
      <ion-item>
        <label>Relationship with Client:</label>
        {{client.Client_NextOfKin.Relationship}}
      </ion-item>
      <ion-item>
        <label>Father's Name:</label>
        {{client.Client_NextOfKin["Fathers Name"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label>Grand Father's Name: </label>
        {{client.Client_NextOfKin["Grandfathers Name"] || "Unspecified"}}
      </ion-item>
      <ion-item class="item item-divider">
        <label>Address Details</label>
      </ion-item>
      <ion-item>
        <label>Unique Place Name </label>
        : {{client.Client_NextOfKin["UniquePlaceName"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Country </label>
        : {{client.Client_NextOfKin["Country"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Region </label>
        : {{client.Client_NextOfKin["Region"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Zone </label>
        : {{client.Client_NextOfKin["Zone"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Wereda </label>
        : {{client.Client_NextOfKin["Wereda"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Kebele </label>
        : {{client.Client_NextOfKin["Kebele"] || "Unspecified"}}
      </ion-item>

    </div>

    </ion-list>

  </ion-content>
</ion-view>
