<ion-popover-view>
  <ion-content>
    <div class="list" ng-click=openMoreOptions.hide()>
      <a class="item" href="#/tab/clients/{{client.id}}/edit" >
        Edit
      </a>
      <a class="item" href="#/tab/clients/{{client.id}}/savings-apply">
        Create Saving Account
      </a>
      <a class="item" href="#/tab/clients/{{client.id}}/loan-apply">
        Create Loan Account
      </a>
      <a class="item" href="#/tab/clients/{{client.id}}/shares-buy">
        Buy Shares
      </a>
    </div>
  </ion-content>
</ion-popover-view>