<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<style>
label {
  color: #558;
}
.item,
ion-item {
  margin: 2px;
  padding: 2px 5px;
  border: none;
}
</style>
<ion-view view-title="{{client.name}}">
  <ion-content class="padding">
    <div style="clear:both; height:205px">
    <img src="/img/placeholder-male.jpg" style="width: 150px; height: 150px; float: left; margin: 5px">
	<ion-list>
    <h4> {{client.displayName}} </h4>
    <ion-item>
		<label>D.O.B</label>: Dec 1st, 1980	{{}}
    </ion-item>
    <ion-item>
		<label class="icon ion-android-call" title="Mobile"></label> {{client.mobile ? client.mobile : "9876543210"}}
    </ion-item>
    <ion-item>
		<label class="icon ion-ios-email-outline" title="Email"></label>  {{client.email ? client.email : "sample@email.com" }}
    </ion-item>
    <ion-item>
                <label>Occupation</label> : Trader {{client.Occupation}}
    </ion-item>
    <ion-item>
    </ion-item>
	</ion-list>
    </div>
		<label>Location</label>	: {{client.Sector}}
    <label>Address</label>	: # 45, Av. de la Rue {{client.FullAddress}}
    <div>
		<h4 class="positive">
                Account Summary
                </h4>
		Account No : #{{client.accountNo}}
		<br /> Loans	: <i class="icon ion-social-bitcoin"></i> {{client.TotalLoans}} 40
		<br /> Savings	: <i class="icon ion-social-bitcoin"></i> {{client.TotalSavings}} 25
    </div>
  </ion-content>
</ion-view>
