<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<style>

ion-content  {
/* background-color:lightgrey;  */
}

label {
 	color: #558;
}
.item, ion-item {
	margin: 0px;
	padding: 2px 3px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;
}
</style> 

<ion-view view-title="Client: {{client.displayName}}">
  <ion-content class="padding">

    <div class="list card" style="clear:both; height:160px">
      <!-- TRYING TO PUT THE NAME AS AN HEADER
	     div class="item item-divider">
	     <h4>{{client.fullname}}</h4>
      </div -->
    	<img ng-src="{{client.face}}" style="width: 150px; height: 150px; float: left; margin: 5px">
      <ion-list>
        <h4>{{client.displayName}}</h4>
	       <!--ion-item class="item item-positive">PERSONAL INFO :</ion-item -->
  	    <ion-item>
	         <label>Gender :</label>{{client.gender.name}}
	      </ion-item>
    	  <ion-item>
	         <label>D.O.B</label>: {{client.dob}}
	      </ion-item>
	      <ion-item>
	         <label class="icon ion-android-call" title="Mobile">
	         </label> {{client.mobileNo || "9876543210"}}
        </ion-item> 
        <ion-item class="item-icon">
           <label title="Email"> Email <i class="icon ion-ios-email-outline"></i>: 
           </label>  {{client.Client_Fields.Email || client.firstname + "@kmayra.org" }} <!-- "extremelysimple@kmayra.org" -->
        </ion-item>
	    </ion-list> <!--ion-list-->
    </div>

    <div class="list card">
      <ion-item>
        <h3>Next of Kin Details</h3>
      </ion-item>
      <ion-item>
        <label>Fullname</label>
        {{client.Client_NextOfKin.Fullname}}
      </ion-item>
      <ion-item>
        <label>Relationship with Client:</label> {{client.Client_NextOfKin.Relationship}}
      </ion-item>
      <ion-item>
        <label>Fathers Name:</label> {{client.Client_NextOfKin["Fathers Name"] || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label>Grandfathers Name: </label>
        {{client.Client_NextOfKin["Grandfathers Name"] || "Unspecified"}}
      </ion-item>
    </div>

    </ion-list>

  </ion-content>
</ion-view>
