<ion-view view-title="{{data.op}} Client">

  <ion-header-bar>
	<button class="button button-icon" ng-click="newTask()">Edit
    <i class="ion-compose icon"></i>
  </button>
  </ion-header-bar>
  <ion-content class="padding">
    <form name="clientEditForm" novalidate>
    <ion-list>
      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>
      <div class="item item-input-inset">
        <span class="input-label">First Name:</span>
        <label class="item-input-wrapper">
          <input type="text" name="firstName" id="firstName" size="50" placeholder="Enter First Name" ng-model="client.firstname" ng-minlength="3" required />
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Last Name:</span>
        <label class="item-input-wrapper">
          <input type="text" name="lastName" id="lastName" size="50" placeholder="Enter Last Name" ng-model="client.lastname" ng-minlength="3" required />
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Gender:</span>
        <label class="item-input-wrapper">
          <select ng-model="client.genderId" ng-options="g.id as g.name for g in codes.genders">
          </select>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Date of Birth:</span>
        <label class="item-input-wrapper">
          <input type="date" size="15" placeholder="dd/mm/yy" ng-model="client.dateOfBirth">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Activation Date:</span>
        <label class="item-input-wrapper">
          <input type="date" size="15" placeholder="dd/mm/yy" ng-model="client.activationDate">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Mobile:</span>
        <label class="item-input-wrapper">
          <input type="tel" size="15" placeholder="Ex :919620568920" ng-model="client.mobileNo">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Office:</span>
        <label class="item-input-wrapper">
          <select ng-model="client.officeId" ng-options="o.id as o.name for o in codes.offices">
          </select>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Email:</span>
        <label class="item-input-wrapper">
          <input type="email" name="email" placeholder="Your Email Address" ng-model="client.Email">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Confirm:</span>
        <label class="item-input-wrapper">
          <input type="email" name="emailConf" placeholder="Your Email">
        </label>
      </div>

      <div class="item item-input-inset">
        <span class="input-label">Occupation:</span>
        <label class="item-input-wrapper">
          <select ng-model="client.clientClassificationId" ng-options="o.id as o.name for o in codes.occupations">
          </select>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Sector:</span>
        <label class="item-input-wrapper">
          <input type="text" size="15" placeholder="Byrathi">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Address:</span>
        <label class="item-input-wrapper">
          <input type="text" size="15" placeholder="Full address" ng-model="client.Address">
        </label>
      </div>
      <ion-item>
        <div ng-hide="clientEditForm.firstName.$pristine">
          <span class="ion-warn" ng-show="clientEditForm.firstName.$warn.required">First Name is required</span>
          <span class="ion-warn" ng-show="clientEditForm.firstName.$warn.minlength">First Name must be at least 3 characters</span>
        </div>
        <div ng-hide="clientEditForm.lastName.$pristine">
          <span class="ion-warn" ng-show="clientEditForm.lastName.$warn.required">Last Name is required</span>
          <span class="ion-warn" ng-show="clientEditForm.lastName.$warn.minlength">Last Name must be at least 3 characters</span>
        </div>
    	  <button class="button button-block button-positive" 
    		  ng-click="saveClient(client)" ng-disabled="clientEditForm.$invalid">
          <h4>Save</h4>
    	  </button>
      </ion-item>
      </ion-list> <!-- End of List -->
    </form>  
  </ion-content>
</ion-view>
