<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style type="text/css">
select, input[type=text] {
  width:50%;
}
</style>
<ion-view view-title="Apply for Loan" ng-init="init()">
  <ion-content ng-controller="LoansAccCreateCtrl">
  <form name="loanAccCreateForm" novalidate>

    <div class="list padding">
      <div class="Mandatory">
          <sup><i class="icon ion-asterisk assertive"></i></sup>
          : Mandatory fields
      </div>
      <!-- ion-item>
        <div ng-hide="loanAccCreateForm.name.$pristine">
          <span class="ion-warn" ng-show="loanAccCreateForm.name.$error.required">
            SACCO Name is required
          </span>
          <span class="ion-warn" ng-show="loanAccCreateForm.name.$error.minlength">
            SACCO Name must be at least 3 characters
          </span>
        </div>
      </ion-item -->

      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>

      <div class="item item-input-inset">
        <span class="input-label">Member’s name</span>
        <label class="item-input-wrapper">
          <input type="text"
            size="15" ng-model="loan.memberName" disabled>
        </label>
      </div>
      <ion-item class="item">

        <div ng-show="loanAccCreateForm.productId.$error.required">
          <span class="ion-warn">Product is required</span>
        </div>
        <div ng-hide="loanAccCreateForm.openingDate.$pristine">
          <span ng-show="loanAccCreateForm.openingDate.$invalid"
              class="ion-warn">
            Submit Date must be Valid Date
          </span>
          <span ng-show="loanAccCreateForm.openingDate.$error.required"
              class="ion-warn">
            Submit Date is required
          </span>
        </div>


        <label class="item item-input item-select">
          <div class="input-label">Product
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </div>
          <!-- select  ng-model="loan.productId" ng-options="item as item.name for item in productList"></select -->
          <select name="productId" ng-model="loan.productId" ng-options="product.id as product.name for product in productList" ng-change="prodChanged(loan.productId)" required>
          </select>
        </label>
      </ion-item>


      <div class="item item-input-inset">
        <span class="input-label">Date Submitted:</span>
        <label class="item-input-wrapper">
          <input name="openingDate" type="date" placeholder="Format: yyyy-mm-dd"
            size="15" ng-model="loan.openingDate" required>
        </label>
      </div>

      <!-- ion-item>
        <label class="item item-input item-select">
          <div class="input-label">Loan Officer :
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </div>
          <select name="productId" required>
            <option> O1 </option>
            <option> O2 </option>
          </select>
        </label>
      </ion-item -->

      <ion-item>
        <label class="item item-input item-select">
          <div class="input-label">Loan Officer:</div>
          <select name="loanOfficer" ng-model="loan.loanOfficerId"
            ng-options="o.id as o.displayName for o in loanOfficerOptions">
          </select>
        </label>
      </ion-item>
      <div class="item item-input-inset">
        <span class="input-label">Loan Purpose :</span>
        <label class="item-input-wrapper">
          <select name="loanPurpose" ng-model="loan.loanPurposeId" ng-options="p.id as p.name for p in loanPurposes">
          </select>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">
          Disbursement Date
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </span>
        <label class="item-input-wrapper">
          <input type="date" name="disbursemantDate"
              placeholder="Format: yyyy-mm-dd"
              ng-model="loan.disbursemantDate" required>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Principal Amount
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="3" name="principalAmount"
            placeholder="Enter the value" ng-model="loan.principalAmount">
        </label> <i class="icon ion-social-bitcoin"> </i>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Loan Term :</span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="1" name="loanTerm"
            placeholder="Enter the value" ng-model="loan.loanTerm">
        </label> Months
      </div>
      <div class="item item-input-inset">
        <span class="input-label">No. of Repayments :</span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="1" name="repaymentsNo"
            placeholder="Enter the value" ng-model="loan.repaymentsNo">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Guarantor s/Collateral:</span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="1" name="guarantorsOrCollateral"
            placeholder="Enter the value" ng-model="loan.guarantorsOrCollateral">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Own Savings:</span>
        <label class="item-input-wrapper">
          <select name="linkAccount" ng-model="loan.linkAccountId" ng-options="a.id as a.name for a in linkAccounts">
          </select>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Guarantors:</span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="1" name="guarantors"
            placeholder="Enter the value" ng-model="loan.guarantors">
        </label>
      </div>

      <div class="item item-input-inset">
        <span class="input-label">Other collateral:</span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="1" name="otherCollateral"
            placeholder="Enter the value" ng-model="loan.otherCollateral">
        </label>
      </div>
      <div class="list card" ng-show="productSelected">
        <ion-item class="item-divider"> 
          <label><strong> Interest Details </strong></label>
        </ion-item>
        <ion-item> <label> Rate </label> : %</ion-item>
        <ion-item> <label> Method </label> : Decline Balance</ion-item>
        <ion-item> <label> Repayment Frequency </label> : Every xxx </ion-item>
        <ion-item> <label> Charges </label>: xyz <i class="icon ion-social-bitcoin"></i>
      </div>

      <ion-list-item class="padding">
        <span ng-show="message"class="ion-{{message.type}}">
          {{message.text}}
        </span>
        <button class="button button-block button-positive"
            ng-click="loanApply()" ng-disabled="loanAccCreateForm.$invalid">
          <h4>Save</h4>
        </button>
      </ion-list-item>

    </div> <!-- End of List -->
  </form>
  
  <!-- input ng-model="data.wifi" type="Password" placeholder=" x Password x " -->
  <script id="popup-template-html" type="text/ng-template">
    <label> Product </label> : <strong>{{ProductName}}</strong>
    <br /><label> Submitted on</label> : {{SubmittedDate}}
    <br /><label> Loan Purpose </label>: {{loan.loanPurpose}}
    <br /><label> Disbursement </label>: {{disbursemantDate}}
    <br /><label> Principal Amount </label>: {{loan.principalAmount}}
          <i class="icon ion-social-bitcoin"></i>
    <br /><label> Loan Term </label>: {{loan.loanTerm}} Months
    <br /><label> No of Repaymants </label>: {{loan.repaymentsNo}}

    <br /><label style="text-aling='center';"><strong>Interest Details</strong></label>
    <br /><label> Rate </label> : {{onSelectionLoanData.interestRatePerPeriod}}%
    <br /><label> Method </label> : {{onSelectionLoanData.interestType.value}}
    <br /><label> Repayment Frequency </label> : Every {{onSelectionLoanData.repaymentFrequencyType.value}}
    <br /><label> Charges</label> : {{onSelectionLoanData.charges}} <i class="icon ion-social-bitcoin"></i>
  </script>
  </ion-content>
</ion-view>
