<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>

.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
}
</style>

<ion-view view-title="Client Loans Account Details">
  <ion-content class="padding">
    <div class="list card">
      <ion-item>
        <label> Account No:</label> {{data.accountNo || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Account Type:</label> {{data.productName || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Principal:</label> {{data.principal || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Loan Outstanding:</label> {{data.totalOutstanding || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Loan Repayment:</label> {{data.totalRepayment || "0"}}
      </ion-item>
    <ion-item ng-show="!data.status.active && (rolestat.isAdmin || rolestat.isManagement)">
      <ion-button-bar>
        <button class="button button-assertive leftBtn"
            ng-click="rejectAccount()" ng-show="data.status.pendingApproval">
          Reject
          <i class="icon ion-close-round"></i>
        </button>
        <button class="button button-positive rightBtn"
            ng-click="approveAccount()" ng-show="data.status.pendingApproval">
          Approve
          <i class="icon ion-android-checkmark-circle"></i>
        </button>
        <button class="button button-positive rightBtn"
            ng-click="disburseLoan()" ng-show="data.status.waitingForDisbursal">
          Disburse
          <i class="icon ion-android-checkmark-circle"></i>
        </button>
      </ion-button-bar>
    </ion-item>
      <ion-item class="item-divider" ng-show="data.status.active">
        <p class="centered"> ACTIONS </p>
      </ion-item>
      <ion-item ng-show="data.status.active">
        <p class="centered">
          <a href="" class="button button-positive" ng-click="makeRepayment()">Make Repayment</a>
        </p>
      </ion-item>
      <ion-item ng-show="data.status.active">
        <button class="button button-block button-dark" ng-click="viewTransactions(data.id)" >
          View Transactions <span class="ion-ios-loop-strong"></span> <i class="ion-android-search"></i>
        </button>
      </ion-item>

    </div>

  </ion-content>
</ion-view>
