<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<ion-view view-title="Create Loan Account">
  <ion-content ng-controller="LoansAccCreateCtrl">
  <form name="loanCreateAccForm" novalidate>

    <div class="list padding">
      <div class="Mandatory">
          <sup><i class="icon ion-asterisk assertive"></i></sup>
          : Mandatory fields
      </div>
      <!--
        Member's Name
        Member's Loan request amount
        Purpose of Loan
        Expected payment period
        Guarantor's / Collateral
        Own Savings
        Guarantors
        Other Collateral
      -->
      <ion-item>
        <!-- div ng-hide="loanAccCreateForm.name.$pristine">
          <span class="ion-warn" ng-show="loanAccCreateForm.name.$error.required">
            SACCO Name is required
          </span>
          <span class="ion-warn" ng-show="loanAccCreateForm.name.$error.minlength">
            SACCO Name must be at least 3 characters
          </span>
        </div -->
        <div ng-show="loanAccCreateForm.-.$error.required">
          <span class="ion-warn"> - is required</span>
        </div>
        <div ng-hide="loanAccCreateForm.-.$pristine">
          <span ng-show="loanAccCreateForm.-.$invalid"
              class="ion-warn">
            Submit Date must be Valid Date
          </span>
          <span ng-show="loanAccCreateForm.-.$error.required"
              class="ion-warn">
            Submit Date is required
          </span>
        </div>
      </ion-item>

      <ion-item class="item" ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>

      <ion-item class="item">
        <label class="item item-input-inset">
          <div class="input-label">Member's Name
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </div>
          <input type="text" name="memberName" ng-model="CreateLoanAcc.memberName" />
        </label>
      </ion-item>
      <ion-item>
        <label class="item item-input-inset">
          <div class="input-label">Loan Requested Amount
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </div>
          <input type="tel" name="requestedAmount" ng-model="CreateLoanAcc.requestedAmount" />
        </label>
      </ion-item>
      <div class="item item-input-inset">
        <span class="input-label">Purpose of Loan</span> :
        <label class="item-input-wrapper">
          <input type="text" size="20" ng-minlength="3" name="loanPurpose"
              placeholder="Reason for taking this Loan"
              ng-model="CreateLoanAcc.loanPurpose">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Expected payment period</span>:
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="1" name="expectedPaymentPeriod"
            placeholder="Enter the value" ng-model="CreateLoanAcc.expectedPaymentPeriod">
        </label> Months
      </div>
      <ion-item>
        <label class="item item-input item-select">
          <div class="input-label">Type</div>
          <select name="" ng-model="">
            <option>Guarantor</option>
            <option>Collateral</option>
            <!--option ng-repeat="loanOfficer in loanOfficerOptions" value="{{loanOfficer.id}}">{{loanOfficer.displayName}}</option -->
          </select>
        </label>
      </ion-item>
      <ion-item class="item item-input-inset">
        <span class="input-label">Own Savings:
        </span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="2" name=""
            placeholder="Enter the value" ng-model="">
        </label> <i class="icon ion-social-bitcoin"> </i>
      </ion-item>
      <ion-item class="item item-input-inset">
        <span class="input-label">Guarantors:
        </span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="2" name=""
            placeholder="Enter the value" ng-model="">
        </label> <i class="icon ion-social-bitcoin"> </i>
      </ion-item>
      <ion-item class="item item-input-inset">
        <span class="input-label">Other Collateral:
        </span>
        <label class="item-input-wrapper">
          <input type="tel" size="10" ng-minlength="2" name=""
            placeholder="Enter the value" ng-model="">
        </label> <i class="icon ion-social-bitcoin"> </i>
      </ion-item>


      <!-- div class="list card" ng-show="productSelected">
        <ion-item class="item-divider"> 
          <label><strong> Interest Details </strong></label>
        </ion-item>
        <ion-item> <label> Rate </label> : %</ion-item>
        <ion-item> <label> Method </label> : Decline Balance</ion-item>
        <ion-item> <label> Repayment Frequency </label> : Every xxx </ion-item>
        <ion-item> <label> Charges </label>: xyz <i class="icon ion-social-bitcoin"></i>
      </div -->

      <ion-list-item class="padding">
        <span ng-show="message"class="ion-{{message.type}}">
          {{message.text}}
        </span>
        <button class="button button-block button-positive"
            ng-click="loanAccApply()" ng-disabled="loanCreateAccForm.$invalid">
          <h4>Save</h4>
        </button>
      </ion-list-item>

    </div> <!-- End of List -->
  </form>

  <!-- input ng-model="data.wifi" type="Password" placeholder=" x Password x " -->
  <!-- script id="popup-template-html" type="text/ng-template">
    <label> Product </label> : <strong>{{ProductName}}</strong>
    <br /><label> Submitted on</label> : {{SubmittedDate}}
    <br /><label> Loan Purpose </label>: {{XYZ.loanPurpose}}
    <br /><label> Disbursement </label>: {{disbursemantDate}}
    <br /><label> Principal Amount </label>: {{XYZ.principalAmount}}
          <i class="icon ion-social-bitcoin"></i>
    <br /><label> Loan Term </label>: {{XYZ.loanTerm}} Months
    <br /><label> No of Repaymants </label>: {{XYZ.repaymentsNo}}

    <br /><label style="text-aling='center';"><strong>Interest Details</strong></label>
    <br /><label> Rate </label> : {{onSelectionLoanData.interestRatePerPeriod}}%
    <br /><label> Method </label> : {{onSelectionLoanData.interestType.value}}
    <br /><label> Repayment Frequency </label> : Every {{onSelectionLoanData.repaymentFrequencyType.value}}
    <br /><label> Charges</label> : {{onSelectionLoanData.charges}} <i class="icon ion-social-bitcoin"></i>
  </script -->

  </ion-content>
</ion-view>
