<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style type="text/css">
select, input[type=text] {
  width:50%;
}
</style>
<ion-view view-title="Apply for Loan" ng-init="init()">
  <ion-content ng-controller="LoansAccCreateCtrl">
  <form name="loanAccCreateForm" novalidate>

    <div class="list padding">
      <div class="Mandatory">
        <sup><i class="icon ion-asterisk assertive"></i></sup>
        : Mandatory fields
      </div>
      <div ng-show="loanAccCreateForm.productId.$error.required">
        <span class="ion-warn">Product is required</span>
      </div>
      <div ng-hide="loanAccCreateForm.openingDate.$pristine">
        <span ng-show="loanAccCreateForm.openingDate.$invalid"
            class="ion-warn">
          Submit Date must be Valid Date
        </span>
        <span ng-show="loanAccCreateForm.openingDate.$error.required"
            class="ion-warn">
          Submit Date is required
        </span>
      </div>

      <div ng-hide="loanAccCreateForm.principalAmount.$pristine">
        <span ng-show="loanAccCreateForm.principalAmount.$invalid" class="ion-warn">
          Principal must be between {{loanPrincipal.min}} and {{loanPrincipal.max}}
        </span>
      </div>
      <!-- ion-item>
        <div ng-hide="loanAccCreateForm.name.$pristine">
          <span class="ion-warn" ng-show="loanAccCreateForm.name.$error.required">
            SACCO Name is required
          </span>
          <span class="ion-warn" ng-show="loanAccCreateForm.name.$error.minlength">
            SACCO Name must be at least 3 characters
          </span>
        </div>
      </ion-item -->

      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>

      <div class="item item-input-inset">
        <span class="input-label">Member’s name</span>
        <label class="item-input-wrapper">
          <input type="text"
            size="15" ng-model="loan.memberName" disabled>
        </label>
      </div>

      <label class="item item-input item-select">
        <div class="input-label">Product
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </div>
        <!-- select  ng-model="loan.productId" ng-options="item as item.name for item in productList"></select -->
        <select name="productId" ng-model="loan.productId" ng-options="product.id as product.name for product in productList" ng-change="prodChanged(loan.productId)" required>
        </select>
      </label>

      <div class="item item-input-inset">
        <span class="input-label">Date Submitted:</span>
        <label class="item-input-wrapper">
          <input name="openingDate" type="date" placeholder="Format: yyyy-mm-dd"
            size="15" ng-model="loan.openingDate" required>
        </label>
      </div>

      <!-- ion-item -->
      <label class="item item-input item-select">
        <div class="input-label">Loan Officer
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </div>
        <select name="loanOfficer" ng-model="loan.loanOfficerId"
          ng-options="o.id as o.displayName for o in loanOfficerOptions">
        </select>
      </label>

      <label class="item item-input item-select">
        <div class="input-label">Loan Purpose :</div>
        <select name="loanPurpose" ng-model="loan.loanPurposeId"
            ng-options="p.id as p.name for p in loanPurposes"
            ng-change="loanpurposeChanged(loan.loanPurposeId)">
        </select>
      </label>

      <div class="item item-input-inset">
        <span class="input-label">
          Disbursement Date
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </span>
        <label class="item-input-wrapper">
          <input type="date" name="disbursemantDate"
              placeholder="Format: yyyy-mm-dd"
              ng-model="loan.disbursemantDate" required>
        </label>
      </div>
      <ion-item class="item">
        <div class="item-input-inset">
          <span class="input-label">Principal Amount
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>
          <label class="item-input-wrapper">
            <input type="number" size="10" ng-minlength="3"  name="principalAmount"
                placeholder="Value of Principal" ng-model="loan.principalAmount"
                ng-min="loanPrincipal.min" ng-max="loanPrincipal.max">
          </label> <i class="icon ion-social-bitcoin"> </i>
        </div>
        <!-- Warning -->
        <div ng-hide="loanAccCreateForm.principalAmount.$pristine">
          <span ng-show="loanAccCreateForm.principalAmount.$invalid" class="ion-warn">
            Principal must be between {{loanPrincipal.min}} and {{loanPrincipal.max}}
          </span>
        </div>
      </ion-item>
      <div class="item item-input-inset">
        <span class="input-label">Loan Term :</span>
        <label class="item-input-wrapper">
          <input type="number" size="10" ng-minlength="1" name="loanTerm"
            placeholder="How many months ?" ng-model="loan.loanTerm">
        </label> Months
      </div>
      <div class="item item-input-inset">
        <span class="input-label">No. of Repayments :</span>
        <label class="item-input-wrapper">
          <input type="number" size="10" ng-minlength="1" name="repaymentsNo"
            placeholder="How many repayments ?" ng-model="loan.repaymentsNo">
        </label>
      </div>
      <!-- div class="item item-input-inset">
        <span class="input-label">Old Guarantor:</span>
        <label class="item-input-wrapper">
          <select ng-model="loan.guarantor.entityId" ng-options="g.id as g.displayName for g in guarantors">
          </select>
        </label>
      </div -->

      <label class="item item-input item-select">
        <div class="input-label">Guarantor :</div>
        <select ng-model="loan.guarantor.entityId"
            ng-options="g.id as g.displayName for g in guarantors">
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Collateral Type :</div>
        <select ng-model="loan.collateral.collateralTypeId"
            ng-options="c.id as c.name for c in loanCollateralTypes">
        </select>
      </label>
      <div class="item item-input-inset">
        <span class="input-label">Value:</span>
        <label class="item-input-wrapper">
          <input type="number" size="10" placeholder="Value of Collateral" ng-model="loan.collateral.value">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Description:</span>
        <label class="item-input-wrapper">
          <input type="text" size="10" ng-minlength="1" name="collateral"
            placeholder="Short Description of it" ng-model="loan.collateral.description">
        </label>
      </div>

      <div class="list card" ng-show="productSelected">
        <ion-item class="item-divider"> 
          <label><strong> Interest Details </strong></label>
        </ion-item>
        <ion-item> <label> Rate </label> : %</ion-item>
        <ion-item> <label> Method </label> : Decline Balance</ion-item>
        <ion-item> <label> Repayment Frequency </label> : Every xxx </ion-item>
        <ion-item> <label> Charges </label>: xyz <i class="icon ion-social-bitcoin"></i>
      </div>

      <ion-list-item class="padding">
        <span ng-show="message"class="ion-{{message.type}}">
          {{message.text}}
        </span>
        <button class="button button-block button-positive"
            ng-click="loanApply()" ng-disabled="loanAccCreateForm.$invalid">
          <h4>Save</h4>
        </button>
      </ion-list-item>

    </div> <!-- End of List -->
  </form>
  
  <!-- input ng-model="data.wifi" type="Password" placeholder=" x Password x " -->
  <script id="popup-template-html" type="text/ng-template">
    <label> Product </label> : <strong>{{loan.name}}</strong>
    <br /><label> Submitted on</label> : {{SubmittedDate}}
    <br /><label> Loan Purpose </label>: {{loan.loanPurposeName}}
    <br /><label> Disbursement </label>: {{disbursemantDate}}
    <br /><label> Principal Amount </label>: {{loan.principalAmount}}
          <i class="icon ion-social-bitcoin"></i>
    <br /><label> Loan Term </label>: {{loan.loanTerm}} Months
    <br /><label> No of Repaymants </label>: {{loan.repaymentsNo}}

    <br /><label style="text-aling='center';"><strong>Interest Details</strong></label>
    <br /><label> Rate </label> : {{productData.interestRatePerPeriod}}%
    <br /><label> Method </label> : {{productData.interestType.value}}
    <br /><label> Repayment Frequency </label> : Every {{productData.repaymentFrequencyType.value}}
    <br /><label> Charges</label> : {{productData.charges}} <i class="icon ion-social-bitcoin"></i>
  </script>
  </ion-content>
</ion-view>
