<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>

.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
}
</style>

<ion-view view-title="Client Loans Account Details">
  <ion-content class="padding">
    <div class="list card">
      <ion-item>
        <label> Account No:</label> {{data.accountNo || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Loan Status:</label> {{data.status.value || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Account Type:</label> {{data.productName || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label> Principal:</label> {{data.principal || "Unspecified"}}
      </ion-item>
      <div ng-show="data.status.active" >
        <ion-item>
          <label> Loan Outstanding:</label> {{data.totalOutstanding || "Unspecified"}}
        </ion-item>
        <ion-item>
          <label> Loan Repayment:</label> {{data.totalRepayment || "0"}}
        </ion-item>
        <!-- <ion-item>
          <label> Linked Accounts:</label> {{data.totalRepayment || "0"}}
        </ion-item> -->
        <!-- <ion-item>
          <label> Repayment Schedule:</label> {{data.totalRepayment || "0"}}
        </ion-item> -->
      </div>
      
      <div ng-show="data.status.pendingApproval  || data.status.waitingForDisbursal">
        <ion-item>
          <label> Submitted On Date:</label> {{data.submittedOnDate || "0"}}
        </ion-item>
        <ion-item>
          <label> Expected Disbursement Date:</label> {{data.expectedDisbursementDate || "0"}}
        </ion-item>
         <ion-item>
          <label> Linked Accounts:</label> {{data.totalRepayment || "0"}}
        </ion-item> 
        <ion-item>
          <label> Loan Type:</label> {{accountData.loanType.value || "0"}}
        </ion-item>
        <ion-item>
          <label> Annual Interest Rate:</label> {{accountData.annualInterestRate || "0"}}
        </ion-item>
        <ion-item>
          <label>Interest Type:</label> {{accountData.interestType.value || "Unspecified"}}
        </ion-item>
        <ion-item>
          <label>Loan Term:</label> {{accountData.termFrequency}} {{accountData.repaymentFrequencyType.value || "Unspecified"}}
        </ion-item>
        <ion-item>
          <label>Amortization Type:</label>{{accountData.amortizationType.value || "Unspecified"}}
        </ion-item>
        
      </div>
      
    <ion-item ng-show="!data.status.active && (rolestat.isAdmin || rolestat.isManagement)">
      <div ng-if="data.activeAccounts.length">
        <strong>Client already has {{data.activeAccounts.length}} active loans.</strong>
      </div>
      <ion-button-bar>
        <button class="button button-assertive leftBtn"
            ng-click="rejectAccount()" ng-show="data.status.pendingApproval">
          Reject
          <i class="icon ion-close-round"></i>
        </button>
        <button class="button button-positive rightBtn"
            ng-click="approveAccount()" ng-show="data.status.pendingApproval">
          Approve
          <i class="icon ion-android-checkmark-circle"></i>
        </button>
        <button class="button button-positive rightBtn"
            ng-click="disburseLoan()" ng-show="data.status.waitingForDisbursal">
          Disburse
          <i class="icon ion-android-checkmark-circle"></i>
        </button>
      </ion-button-bar>
    </ion-item>
      <ion-item class="item-divider" ng-show="data.status.active">
        <p class="centered"> ACTIONS </p>
      </ion-item>
      <ion-item ng-show="data.status.active">
        <p class="centered">
          <a href="" class="button button-positive" ng-click="makeRepayment()">Make Repayment</a>
        </p>
      </ion-item>
      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>
      <ion-item ng-show="data.status.active">
        <button class="button button-block button-outline button-dark" ng-click="viewTransactions(data.id)" >
          View Transactions <span class="ion-ios-loop-strong"></span> <i class="ion-android-search"></i>
        </button>
      </ion-item>
      <ion-item ng-show="data.status.active">
        <a class="button button-block button-dark" href="#/tab/loan/{{data.id}}/charges" >
          View Charges <span class="ion-ios-loop-strong"></span> <i class="ion-android-search"></i>
        </a>
      </ion-item>
      <ion-item ng-show="data.status.active">
        <a href="#/tab/loan/{{data.id}}/schedule" class="button button-block button-outline button-dark">
          Repayment Schedule <i class="ion-android-search"></i>
        </a>
      </ion-item>

    </div>

  </ion-content>
</ion-view>
