<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<ion-view view-title="Login">
  <ion-content>
    <form name="loginForm" novalidate>
    <img src="img/kmayra.png" width="188" height="60" title="k-Mayra" alt="k-Mayra Logo" />
    <ion-card>
      <ion-list>
        <ion-item ng-show="message">
          <!-- icon ion-wifi -->
          <span class="ion-{{message.type}}">{{message.text}}</span>
        </ion-item>
        <ion-item>
          <ion-label for="username">Username : </ion-label>
          <input type="text" name="username" id="username" ng-model="cred.username"
            placeholder="Your k-Mayra username" ng-minlength="5" required />
        </ion-item>

        <ion-item>
          <ion-label for="password">Password : </ion-label>
          <input type="password" name="password" id="password" ng-model="cred.password"
            placeholder="Your password" ng-minlength="8" required />
        </ion-item>

        <ion-item>
          <div ng-hide="loginForm.username.$pristine">
            <span class="ion-warn" ng-show="loginForm.username.$error.required">Username is required</span>
            <span class="ion-warn" ng-show="loginForm.username.$error.minlength">Username must be at least 5 characters</span>
          </div>
          <div ng-hide="loginForm.password.$pristine">
            <span class="ion-warn" ng-show="loginForm.password.$error.required">Password is required</span>
            <span class="ion-warn" ng-show="loginForm.password.$error.minlength">Password must be at least 8 characters</span>
          </div>
          <button class="button button-block button-positive"
              ng-click="login(cred)" ng-disabled="loginForm.$invalid">
            Login
            <span class="ion-log-in"></span>
          </button>
        </ion-item>
        <!-- CAN BE REUSED TO ALLOW PASSWORD RESET THROUGH THE APP USING THE K-MAYRA EMAIL
        ion-item class="text-center" ng-hide="1">
          Forgot your password ?
          <br />
          <button class="button button-calm" ng-click="resetPass()">
            Reset Password
            <span class="ion-ios-unlocked"></span>
          </button>
        </ion-item
        -->
      </ion-list>
    </ion-card>
    </form>
    <center><a href="#/logs">View Logs</a></center>
  </ion-content>
  <ion-footer-bar class="bar-dark">
    <div style="text-align: center; margin-left: auto; margin-right: auto">
    <a style="color: #edf" href="http://www.kmayra.org">kmayra.org</a>&nbsp;v0.97-beta3
    </div>
    <center ng-if="isOnline">
      <span class="icon ion-ios-cloud">&nbsp;</span></center>
    <center ng-if="!isOnline">
      <span class="icon ion-ios-cloud-outline">&nbsp;</span></center>
  </ion-footer-bar>
</ion-view>
