<ion-view view-title="Login">
  <ion-content>

    <img src="img/kmayra.png" width="188" height="60" title="k-Mayra" alt="k-Mayra Logo" />

    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label for="username">Username : </ion-label>
          <input type="text" name="username" id="username" ng-model="cred.username"
            placeholder="Your k-Mayra username" />
        </ion-item>

        <ion-item>
          <ion-label for="password">Password : </ion-label>
          <input type="password" name="password" id="password" ng-model="cred.password"
            placeholder="Your password" />
        </ion-item>

        <ion-item>
          <ion-checkbox ng-model="cred.client">I am a Client</ion-checkbox>
        </ion-item>

        <ion-item>
          <button class="button button-block button-calm" ng-click="login(cred)">
            Login Now
          </button>
        </ion-item>

        <div class="item">Forgot your password?<br>
          <button class="button button-calm button-outline button-block"
            ng-click="resetPassword()">
            Reset Password
          </button>
        </div>
      </ion-list>
    </ion-card>
  </ion-content>
</ion-view>
