<style>
label {
 	color: #558;
}
.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;
}
</style>

<ion-view view-title="Details: {{data.sacco.name}}">
  <ion-content class="padding">

    <ion-list>
      <ion-item>
      <!-- a href="#/tab/... /edit" -->
        <button class="button-block ion-edit"
            ng-click="#">
            Edit
        </button>
      <!-- /a -->
      </ion-item>
    </ion-list>


    <div class="list card">
      <div class="item item-divider">
        <label>SACCO's Name:</label> {{data.sacco.name}}
      </div>
      <ion-item>
      	<label>Parent Office:</label> {{data.sacco.parentName}}
      </ion-item>
      <ion-item>
        <label>Date Established:</label> {{data.sacco.openingDt}}
      </ion-item>
      <ion-item>
        <label>Date of Joining Union:</label> {{data.sacco.joiningDt || data.sacco.openingDt}}
      </ion-item>
      <ion-item>
        <label style="font-size:18px;">Location</label> <br>
        <label>Latitude:</label> {{ data.sacco.Latitude }} <label>Longitude</label> {{ data.sacco.Longitude }}
      </ion-item>
      <ion-item class="item item-divider">
        <label>Office Full Address </label>{{data.sacco.Address}}
      </ion-item>
      <ion-item>
        <label>Country: </label> {{data.sacco.country || "Ethiopia"}}
      </ion-item>
      <ion-item>
          <label>Region: </label> {{data.sacco.Region}}
        </ion-item>
      <ion-item>
          <label>Zone: </label> {{data.sacco.Zone}}
        </ion-item>
      <ion-item>
        <label>Wereda: </label> {{data.sacco.Wereda}}
      </ion-item>
      <ion-item>
        <label>Kebele: </label> {{data.sacco.Kebele}}
      </ion-item>

    </div>

  </ion-content>
</ion-view>
