<style>
label {
  color: #558;
}
.item, ion-item {
  margin: 2px;
  padding: 2px 5px;
  border: none;
/*  font-style:italic;  */
  font-family:corsiva;
}
</style>

<ion-view view-title="Details: {{data.sacco.name}}">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">
        <label>SACCO's Name:</label> {{data.name || "???"}}
      </div>
      <ion-item>
        <label>Parent Office:</label> {{data.parentName}}
      </ion-item>
      <ion-item>
        <label>Date Established:</label> {{data.openingDt}}
      </ion-item>
      <ion-item>
        <label>Date of Joining Union:</label> {{data.SACCO_Fields.joiningDt}}
      </ion-item>
      <ion-item>
        <label style="font-size:18px;">Location</label> <br />
        <label>Latitude:</label> {{ data.SACCO_Fields.Latitude }} <label>Longitude</label> {{ data.SACCO_Fields.Longitude }}
      </ion-item>
      <ion-item class="item item-divider">
        <label>Office Full Address </label>{{data.SACCO_Fields.Address}}
      </ion-item>
      <ion-item>
        <label>Country: </label> {{data.SACCO_Fields.Country || "???"}}
      </ion-item>
      <ion-item>
          <label>Region: </label> {{data.SACCO_Fields.Region || "???"}}
        </ion-item>
      <ion-item>
          <label>Zone: </label> {{data.SACCO_Fields.Zone || "???"}}
        </ion-item>
      <ion-item>
        <label>Wereda: </label> {{data.SACCO_Fields.Wereda || "???"}}
      </ion-item>
      <ion-item>
        <label>Kebele: </label> {{data.SACCO_Fields.Kebele || "???"}}
      </ion-item>

      <ion-item>
        <a href="#/tab/saccos/{{data.office.id}}/edit"
          class="button button-block">
          <i class="ion-edit">Edit Info</i>
        </a>
      </ion-item>

    </div>

  </ion-content>
</ion-view>
