<style>
label {
 	color: #558;
}
.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;
}
</style>

<ion-view view-title="Sacco Details">
  <ion-content class="padding">
    <img src="img/kmayra.png" width="188" height="60" title="K-Mayra" />

    <!-- div class="list card" style="clear:both; height:160px">
	<div class="item item-divider">
    Staff Name : {{Staff.Name}}
  </div>
    	<img ng-src="img/Staff-Male-1.jpeg" style="width: 150px; height: 150px; float: left; margin: 5px">
	<ion-list>
    	<h4>{{Staff.fullname}}</h4>
	<# !--ion-item class="item item-positive">PERSONAL INFO :</ion-item --#>
  	  <ion-item>
	    <label>Gender :</label> Male {{client.Gender}}
	  </ion-item>
    	  <ion-item>
	    <label>D.O.B</label>: Jan 15th, 1975	
	  </ion-item>
	  <ion-item>
	    <label class="icon ion-android-call" title="Mobile">
	    </label> {{client.mobileNo ? client.mobileNo : "9876543210"}}
	    <# !-- {{client.mobile ? client.mobile : "9876543210"}} -- #>
	  </ion-item>
	</ion-list>
  <div class="item item-divider">
	    <label class="icon ion-ios-email-outline" title="Email">
	    : </label>{{client.email?client.email:" personal@kmayra.org" }}
  </div>

    </div -->

    <div class="list card">
      <div class="item item-divider">
	<label>SACCO's Name</label> : {{Sacco.Name? Sacco.Name: Lisungi}} Lisungi
      </div>
      <ion-item>
	<label>Full Address </label>:<br /> {{Sacco.fullAddress? Sacco.fullAddress : 25}}
      </ion-item>
      <ion-item>
	<label style="font-size:18px;">Location</label> <br>
	<label>Latitude</label> Sacco.lat : | <label>Longitude</label> Sacco.long
      </ion-item>
      <ion-item>
	<label>Date Established</label> : dd/mm/yy
      </ion-item>
      <ion-item>
	<label>Date of Joining Union</label> : dd/mm/yy
      </ion-item>
    </div>

  </ion-content>
</ion-view>
