<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>
/*
#report table,
#report table th,
#report table td {
  border-style: solid;
  border-color: #889;
}
*/
#report table tr {
  margin: 0;
}
#report table {
  border-collapse: collapse;
  border-spacing: 0;
}
#report table thead th {
  background-color: #11205f;
  color: #fef;
}
#report table th,
#report table td {
  padding: 0 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #889;
}
#chart {
  height: 350px;
}
</style>
<ion-view view-title="{{data.reportTitle||'Active Client Report'}}">
<ion-content>
<ion-item-list>
  <div class="card item">
    <select ng-model="data.saccoId" ng-options="s.id as s.name for s in data.saccos"></select>
  </div>
  <ion-item>
    <ion-button-bar>
    <button class="button button-positive rightBtn" ng-click="generateChart()" value="Generate Chart">
      Generate Chart
    </button>
    </ion-button-bar>
  </ion-item>
  <ion-item id="report" ng-show="data.products">
    <table>
      <thead>
        <tr>
        <th>SACCO</th>
        <th>Male</th>
        <th>Female</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="p in data.products">
          <th>{{p.name}}</th>
          <td>{{data.stat.Male[p.name]}}</td>
          <td>{{data.stat.Female[p.name]}}</td>
        </tr>
      </tbody>
    </table>
  </ion-item>
  <div class="item" id="chart" ng-show="data.products">
    <svg></svg>
  </div>
</ion-item-list>
</ion-content>
</ion-view>
