<ion-view view-title="{{data.op}} SACCO">
  <ion-content>

    <div class="list">
      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>

      <ion-list-item class="item item-input-inset">
        <span class="input-label">Sacco Name</span>
        <label class="item-input-wrapper">
           <input type="text" placeholder="Enter the SACCO's Name" ng-model="office.name">
        </label>
      </ion-list-item>

      <label class="item item-input item-select">
        <div class="input-label">Parent Union: </div>
        <select ng-options="office.id as office.name for office in data.offices" ng-model="office.parentId">
        </select>
        
        <!-- select>  
          <option value="HQ">Head Office</option>
          <option value="Likasi">Likasi</option>
          <option value="Wakanda">Wakanda</option>
          <option value="Undefined" selected>Undefined</option>
        </select -->
      </label>

      <div class="item item-input-inset">
        <span class="input-label">Date Established:</span>
        <label class="item-input-wrapper">
          <input type="date" size="10" name="DOEstab" placeholder="ex: dd/mm/yy" ng-model="office.openingDate">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Date of Joining Union:</span>
        <label class="item-input-wrapper">
          <input type="date" size="9" name="DOJU" placeholder="ex: dd/mm/yy" ng-model="sacco.joiningDate">
        </label>
      </div>

<!-- Original Model Before Ccustomization below#>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Location</span>
    <input type="text" placeholder="Latitude ...">
    <input type="text" placeholder="Longitude ...">
  </label>
</div -->

      <div class="item item-input-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Location</span>
          <div class="row">
            <div class="col col-50">
              <label class="item-input-wrapper">
                <input type="text" size="13" placeholder="Latitude">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-input-wrapper">
                <input type="text" size="13" placeholder="Longitude">
              </label>
            </div>
          </div>
        </label>
      </div> <!-- End of item-input-inset -->

      <div class="item item-divider"> <!-- input-inset -->
        <span class="input-label">Office Full Address:</span>
        <!--label class="item-input-wrapper">
          <input type="text" placeholder="ex: No 237, Commercial Street, C.A.">
        </label -->
      </div>

      <div class="item item-input-inset">
        <span class="input-label">Country :</span>
        <label class="item-input-wrapper">
          <input type="text" size="10" name="Country" placeholder="ex :Ethiopia" ng-model="sacco.country">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Region :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Region" placeholder="Enter Region's Name" ng-model="sacco.region">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Zone :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Zone" placeholder="Enter Zone's Name" ng-model="sacco.zone">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Wereda :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Wereda" placeholder="Enter Wereda's Name" ng-model="sacco.wereda">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Kebele :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Kebele" placeholder="Enter Kebele's Name" ng-model="sacco.kebele">
        </label>
      </div>

  <ion-list-item class="padding">
  <button class="button button-block button-positive"
    ng-click="saveSacco(office, sacco)"><h4>Save</h4>
  </button>
  </ion-list-item>

    </div> <!-- End of List -->

  </ion-content>
</ion-view>
