<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<ion-view view-title="{{data.op}} SACCO">
  <ion-content>
  <form name="saccoForm" novalidate>

    <div class="list">
      <div class="Mandatory">
          <sup><i class="icon ion-asterisk assertive"></i></sup>
          : Mandatory fields
      </div>
      <ion-item>
        <div ng-hide="saccoForm.name.$pristine">
          <span class="ion-warn" ng-show="saccoForm.name.$error.required">
            SACCO Name is required</span>
          <span class="ion-warn" ng-show="saccoForm.name.$error.minlength">
            SACCO Name must be at least 3 characters</span>
        </div>
        <div ng-show="saccoForm.parentId.$error.required">
          <span class="ion-warn">SACCO Parent Union is required</span>
        </div>
        <div ng-hide="saccoForm.openingDate.$pristine">
          <span class="ion-warn" ng-show="saccoForm.openingDate.$invalid">SACCO Date Established must be valid date</span>
          <span class="ion-warn" ng-show="saccoForm.openingDate.$error.required">SACCO Date Established is required</span>
        </div>
      </ion-item>
      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>

      <ion-item class="item item-divider">
        <label>Office Details</label>
        <!-- sup><i class="icon ion-asterisk assertive"></i></sup -->
      </ion-item>

      <ion-list-item class="item item-input-inset">
        <span class="input-label">
          Sacco Name
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </span>
        <label class="item-input-wrapper">
          <input type="text" name="name" placeholder="Enter the SACCO's Name"
              ng-model="sacco.name" ng-minlength="3" size="25" autofocus required />
        </label>
      </ion-list-item>

      <!-- ion-item class="item item-input-inset">
        <span class="input-input item-stacked-label">
          Cooperative Licence Registration Number
        </span>
        <sup><i class="icon ion-asterisk assertive"></i></sup> :
        <br />
        <label class="item-input-wrapper">
           <input type="text" name="coopLicRegNo" placeholder="Enter the Registration Number"
              ng-model="data.SACCO_Fields['License Registration No']" size="40" ng-minlength="3" required />
        </label>
      </ion-item -->

        <!-- label class="item item-input item-input-wrapper item-stacked-label"-->
      <ion-item class="item item-input item-stacked-label">
        <label class="item item-input-wrapper item-stacked-label">
          <span class="input-label">
            Cooperative Licence Registration Number
            <sup><i class="icon ion-asterisk assertive"></i></sup> :
          </span>          
          <input type="text" name="coopLicRegNo" placeholder="Enter the Licence Number" size="40" ng-minlength="3"
              ng-model="data.SACCO_Fields['License Registration No']" required />
        </label>
      </ion-item>



      <label class="item item-input item-select">
        <div class="input-label">
          Parent Union 
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </div>
        <select name="parentId" ng-options="sacco.id as sacco.name
          for sacco in data.sunions" ng-model="sacco.parentId" required>
        </select>
      </label>

      <div class="item item-input-inset">
        <span class="input-label">
          Date Established
          <sup><i class="icon ion-asterisk assertive"></i></sup> :
        </span>
        <label class="item-input-wrapper">
          <input name="openingDate" type="date" size="10" name="DOEstab"
            placeholder="ex: dd/mm/yyyy" ng-model="sacco.openingDate" required>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Date of Joining Union
          <sup><i class="icon ion-asterisk assertive"></i></sup> :</span>
        <label class="item-input-wrapper">
          <input type="date" size="9" name="joiningDate"
            placeholder="ex: dd/mm/yyyy" ng-model="sacco.SACCO_Fields.joiningDate" required>
        </label>
      </div>

      <div class="item item-input-inset">
        <label class="item item-input item-stacked-label">
          <span class="input-label centered">Geo-Location</span>
          <div class="row">
            <div class="col col-50">
              <label class="item-input-wrapper">
                <input type="text" size="13" placeholder="Latitude" ng-model="sacco.SACCO_Fields.Latitude">
              </label>
            </div>
            <div class="col col-50">
              <label class="item-input-wrapper">
                <input type="text" size="13" placeholder="Longitude" ng-model="sacco.SACCO_Fields.Longitude">
              </label>
            </div>
          </div>
        </label>
      </div> <!-- End of item-input-inset -->

      <div class="item item-divider"> <!-- input-inset -->
        <label>Office Full Address</label>
      </div>

      <div class="item item-input-inset">
        <span class="input-label">Country :</span>
        <label class="item-input-wrapper">
          <input type="text" size="10" name="Country" placeholder="ex :Ethiopia" ng-model="sacco.SACCO_Fields.Country">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Region :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Region" placeholder="Enter Region's Name" ng-model="sacco.SACCO_Fields.Region">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Zone :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Zone" placeholder="Enter Zone's Name" ng-model="sacco.SACCO_Fields.Zone">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Wereda :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Wereda" placeholder="Enter Wereda's Name" ng-model="sacco.SACCO_Fields.Wereda">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Kebele :</span>
        <label class="item-input-wrapper">
          <input type="text" name="Kebele" placeholder="Enter Kebele's Name" ng-model="sacco.SACCO_Fields.Kebele">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Unique Place Name :</span>
        <label class="item-input-wrapper">
          <input type="text" name="UniquePlaceName" placeholder="Enter Unique Place's Name" ng-model="sacco.SACCO_Fields.UniquePlaceName">
        </label>
      </div>   

      <ion-list-item class="padding">
        <span ng-show="message"class="ion-{{message.type}}">{{message.text}}</span>
        <button class="button button-block button-positive"
            ng-click="saveSacco(sacco)" ng-disabled="saccoForm.$invalid">
          <h4>Save</h4>
        </button>
      </ion-list-item>

    </div> <!-- End of List -->

  </form>
  </ion-content>
</ion-view>

