<ion-view view-title="Open Saving Account">
  <ion-content ng-controller="SavingsAccCreateCtrl">
  <form name="SavingAccCreateForm" novalidate>

    <div class="list padding">

      <ion-item>
        <!-- div ng-hide="savingAccCreateForm.name.$pristine">
          <span class="ion-warn" ng-show="savingAccCreateForm.name.$error.required">
            SACCO Name is required
          </span>
          <span class="ion-warn" ng-show="savingAccCreateForm.name.$error.minlength">
            SACCO Name must be at least 3 characters
          </span>
        </div -->
        <div ng-show="savingAccCreateForm.productId.$error.required">
          <span class="ion-warn">Product is required</span>
        </div>
        <div ng-hide="savingAccCreateForm.openingDate.$pristine">
          <span ng-show="savingAccCreateForm.openingDate.$invalid"
              class="ion-warn">
            Submit Date must be Valid Date
          </span>
          <span ng-show="savingAccCreateForm.openingDate.$error.required"
              class="ion-warn">
            Submit Date is required
          </span>
        </div>
      </ion-item>

      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>

      <ion-item>
        <label class="item item-input item-select">
          <div class="input-label">Select Product : </div>
          <select name="productID" required>
            <option selected>Basic Savings</option>
          </select>
        </label>
      </ion-item>

      <div class="item item-input-inset">
        <span class="input-label">Date Submitted:</span>
        <label class="item-input-wrapper">
          <input name="openingDate" type="date" placeholder="ex: yyyy-mm-dd"
            size="15" ng-model="XYZ.openingDate" required>
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Field Officer :</span>
        <label class="item-input-wrapper">
          <input type="text" size="20" ng-minlength="3" name="fieldOfficer"
            placeholder="Field Officer's Name" ng-model="XYZ.fieldOfficer">
        </label>
      </div>
      <div class="item item-input-inset">
        <span class="input-label">Initial Deposit :</span>
        <label class="item-input-wrapper">
          <input type="text" size="10" ng-minlength="3" name="initialDeposit"
            placeholder="Enter the value" ng-model="XYZ.initialDeposit">
        </label> <i class="icon ion-social-bitcoin"> </i>
      </div>

      <div class="list card" ng-show="productSelected">
        <ion-item class="item-divider"> 
          <label><strong> Interest Details </strong></label>
        </ion-item>
        <ion-item> <label> Percentage </label> : x % </ion-item>
        <ion-item> <label> Posting Period </label> : Quarterly </ion-item>
        <ion-item> <label> Charges </label>:xyz <i class="icon ion-social-bitcoin"></i>
      </div>

      <ion-list-item class="padding">
        <span ng-show="message"class="ion-{{message.type}}">
          {{message.text}}
        </span>
        <button class="button button-block button-positive"
            ng-click="savingCreate()" ng-disabled="savingAccCreateForm.$invalid">
          <h4>Save</h4>
        </button>
      </ion-list-item>

    </div> <!-- End of List -->

  </form>
  <!-- input ng-model="data.wifi" type="Password" placeholder=" x Password x " -->
  <script id="popup-template-html" type="text/ng-template">
    <label> Product </label> : <strong>Product Name</strong>
    <br /><label> Submitted on</label> : Date
    <br /><label> Initial Deposit </label>: {{XYZ.initialDeposit}}
          <i class="icon ion-social-bitcoin"></i>
    <br /><label style="text-aling='center';"><strong>Interest Details</strong></label>
    <br /><label> Percentage </label> : x %
    <br /><label> Posting Period</label> : Quarterly
    <br /><label> Charges</label> : xyz <i class="icon ion-social-bitcoin"></i>
  </script>
  </ion-content>
</ion-view>
