<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>
label {
 	color: #558;
}
.centered {
  text-align: center;
}
.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;


}
</style>

<ion-view view-title="Client Saving Account Details">
  <ion-content class="padding">
    <div class="list card">
      <ion-item>
        <label>Account No:</label> {{data.accountNo || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label>Account Type:</label> {{data.productName || "Unspecified"}}
      </ion-item>
      <ion-item>
        <label>Account Balance:</label> {{data.accountBalance || "Unspecified"}}
      </ion-item>
      <ion-item class="item-divider">
        <p class="centered">ACTIONS</p>
      </ion-item>
      <ion-item>
        <p class="centered">
          <a href="" class="button button-positive" ng-click="makeDeposit()"> Deposit </a>
          <a href="" class="button button-calm" ng-click="doWithdrawal()"> Withdraw </a>
        </p>
      </ion-item>
      <ion-item ng-show="message">
        <span class="ion-{{message.type}}">{{message.text}}</span>
      </ion-item>
      <ion-item>
        <a class="button button-block button-dark" href="#/savingsAccount/{{data.id}}/transactions">
          View Transactions <span class="ion-ios-loop-strong"></span> <i class="ion-android-search"></i>
        </a>
      </ion-item>
    </div>

  </ion-content>
</ion-view>
