<style>
label {
 	color: #558;
}
.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;
}
</style>

<ion-view view-title="Staff {{staff.fullname}}">
  <ion-content class="padding"> <!-- style="background-color:grey;" -->

    <!--div class="list">
      <span>John Wayne</span>
      <span class="account-status">
        <span>Savings $10</span>
        <span>Loans $40</span>
      </span>
      Tab specially dedicated to Staff privileges.
      <br /> Work in progress ...

    </div -->

    <ion-list>
      <ion-item>
      <!-- a href="#/tab/... /edit" -->
        <button class="button-block ion-edit"
            ng-click="#">
            Edit
        </button>
      <!-- /a -->
      </ion-item>
    </ion-list>

    <!-- {{client.face}} -->
    <div class="list card" style="clear:both; height:230px">
      <div class="item item-divider">
        <label>Staff Name </label>: {{staff.fullname}}
        <!-- staff.fullname = firstname + ' ' + staff.lastname -->
        <!-- displayName = staff.lastname + ', ' + firstname -->
      </div>
    	<img ng-src="img/Staff-Male-1.jpeg"
        style="width: 150px; height: 150px; float: left; margin-horizontal: 5px">
      <ion-list style="margin-left: 10px">
        <!-- h4>{{staff.fullname}}</h4 -->
        <ion-item>
          <label>Staff ID:</label>{{staff.id}}
        </ion-item>
        <ion-item>
          <label class="icon ion-android-call" title="Mobile">
          </label> {{staff.mobileNo || "9876543210"}}
        </ion-item>
        <!-- ion-item>
          <label>Gender :</label> Male {{staff.gender}}
        </ion-item -->
    	  <ion-item>
          <label>Joining Date</label>: {{staff.joiningDt || "Unspecified"}}
        </ion-item>
        <ion-item>
          <label>Office's Name </label>:
        </ion-item>
        <ion-item>
          {{staff.officeName ? staff.officeName : "Unspecified" }}
        </ion-item>
      </ion-list>

      <div class="item item-divider">
	       <label style="padding-left:1px;" class="icon ion-ios-email-outline" title="Email"> : 
         </label>{{staff.email?staff.email:" personal@kmayra.org" }}
      </div>

    </div>
    <!-- ion-list -->

    <div class="item item-divider">
         <span style="padding-left:1px;" class="icon ion-ios-email-outline" title="Email"> </span>: 
         <label style="font-size:0.9rem">{{staff.email?staff.email:" personal@kmayra.org" }} </label>
    </div>
    
    <div class="list card">
    	<div class="item item-divider">
	       <label>In Charge of </label> : {{staff.officeName || "Byrathi"}}
	    </div>

      <ion-item>
          <label>Active Officer </label>: {{isActive}}
      </ion-item>
      <ion-item>
          <label>Loan Officer </label>: {{isLoanOfficer}}
      </ion-item>
      <ion-item>
      	<label>Total Members </label>: 
          <span style="padding-left:2em">
            <div style="margin-top:10px" class="icon ion-ios-people">
            {{TotalMembers? TotalMembers : 25}}
            </div>
          </span>
      </ion-item>
      <ion-item>
	       <label> Total Loans </label> : <i class="icon ion-social-bitcoin"></i>
         {{client.TotalLoans?client.TotalLoans:350}}
         <button ng-click="#"> Transactions </button>
      </ion-item>
      <ion-item>
          <label>Total Savings </label>: <i class="icon ion-social-bitcoin"></i>
          {{client.TotalSavings?client.TotalSavings:250}}
          <button ng-click="#"> Transactions </button>
      </ion-item>
    </div>

  </ion-content>
</ion-view>