<style>
label {
 	color: #558;
}
.item, ion-item {
	margin: 2px;
	padding: 2px 5px;
	border: none;
/*	font-style:italic;	*/
	font-family:corsiva;
}
</style>

<ion-view view-title="Staff {{Staff.Name}}">
  <ion-content class="padding"> <!-- style="background-color:grey;" -->

    <img src="img/kmayra.png" width="190" height="40" title="K-Mayra" alt="K-Mayra Logo" />

    <!--div class="list">
      <span>John Wayne</span>
      <span class="account-status">
        <span>Savings $10</span>
        <span>Loans $40</span>
      </span>
      Tab specially dedicated to Staff privileges.
      <br /> Work in progress ...

    </div -->

<!-- {{client.face}} -->

    <div class="list card" style="clear:both; height:200px">
  <div class="item item-divider">
    <label>Staff Name </label>: {{staff.Name}} Yakubu Musa
  </div>
    	<img ng-src="img/Staff-Male-1.jpeg" style="width: 150px; height: 150px; float: left; margin: 5px">
	<ion-list>
    	<h4>{{staff.fullname}}</h4>
	<!--ion-item class="item item-positive">PERSONAL INFO :</ion-item -->
  	  <ion-item>
	    <label>Gender :</label> Male {{staff.gender}}
	  </ion-item>
    	  <ion-item>
	    <label>D.O.B</label>: Jan 15th, 1975
		<!-- staff.dob ? {{staff.dob}} : {{Dec 1st, 1980}} -->
	  </ion-item>
	  <ion-item>
	    <label class="icon ion-android-call" title="Mobile">
	    </label> {{staff.mobileNo ? staff.mobileNo : "9876543210"}}
	  </ion-item>
	</ion-list>
  <div class="item item-divider">
	    <label style="padding-left:1px;" class="icon ion-ios-email-outline" title="Email">
	    : </label>{{staff.email?staff.email:" personal@email.com" }}
  </div>

    </div>
    <div class="list card">
	<div class="item item-divider">
	  <label>In Charge of </label> : {{staff.sector? staff.sector: Byrathi}} Byrathi
	</div>

      <ion-item>
	<label>Total Members </label>: {{TotalMembers? TotalMembers : 25}}
      </ion-item>
      <ion-item>
	<label>	Loans </label> : <i class="icon ion-social-bitcoin"></i> {{client.TotalLoans?client.TotalLoans:350}}

      </ion-item>
      <ion-item>
	<label>Total Savings </label>: <i class="icon ion-social-bitcoin"></i> {{client.TotalSavings?client.TotalSavings:250}}
      </ion-item>
    </div>

  </ion-content>
</ion-view>
