<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>
td {
/*  padding-top: 3.5px;
  margin-top: 5px; */
}
.ion-ios-people, .ion-social-bitcoin {
  font-size: 1.2rem;
}
button {
  margin-top: 0px;
}
</style>

<ion-view view-title="Staff : {{staff.fullname}}">
  <ion-content class="padding"> <!-- style="background-color:grey;" -->
    <div class="list card" style="clear:both;"> <!-- height:223px -->
      <div class="item item-divider item-avatar">
        <label>Staff Name </label>:  {{staff.fullname}}
        <!-- staff.fullname = firstname + ' ' + staff.lastname -->
        <!-- displayName = staff.lastname + ', ' + firstname -->
      </div>
    	<img ng-src="img/Staff-Male-1.jpeg"
        style="width: 150px; height: 150px; float: left; margin-horizontal: 5px">
      <ion-list style="margin-left: 10px">
        <!-- h4>{{staff.fullname}}</h4 -->
        <ion-item>
          <label>Staff ID:</label>{{staff.id}}
        </ion-item>
        <ion-item>
          <label class="icon ion-android-call" title="Mobile">
          </label> {{staff.mobileNo || "9876543210"}}
        </ion-item>
        <!-- ion-item>
          <label>Gender :</label> Male {{staff.gender}}
        </ion-item -->
    	  <ion-item>
          <label>Joining Date</label>: {{staff.joiningDt || "Unspecified"}}
        </ion-item>
        <ion-item>
          <label>Office's Name </label>:
        </ion-item>
        <ion-item>
          {{staff.officeName || "Unspecified" }}
        </ion-item>
        <ion-item class="item item-divider">
          <span style="padding-left:1px;" class="icon ion-ios-email-outline" title="Email">
          </span> :
          <label> <!-- style="font-size:0.9rem" -->
            {{staff.email || "staffusername@kmayra.org" }}
          </label>
        </ion-item>
      </ion-list>
      
      <!--ion-item>
        <a href="#/tab/clients/{{staff.id}}/edit" class="button button-block">
          <i class="ion-edit"> Edit Info</i>
        </a>
      </ion-item -->

    </div>
    <!-- ion-list -->
    
    <div class="list card">
    	<ion-item class="item item-divider">
	       <label>In Charge of </label> : {{staff.officeName || "Byrathi"}}
	    </ion-item>      
      <ion-item class="item item-icon">
        <!-- Table -->
        <table>
        <tr>
          <td> <label>Active Officer </label> </td>
          <td> : {{isActive || "Undefined"}} </td>
        </tr>
        <tr>
          <td> <label>Loan Officer </label> </td>
          <td> : {{isLoanOfficer || "Undefined"}} </td>
        </tr>
        <tr>
          <td> <label> Total Members </label> </td>
          <td> :<span class="icon ion-ios-people">
               {{TotalMembers? TotalMembers : 25}}
                </span>
          </td>
        </tr>
        <tr>
          <td> <label> Total Loans </label> </td>
          <td> :<i class="icon ion-social-bitcoin">
                  {{client.TotalLoans?client.TotalLoans : 350}}
                </i>
          </td>
          <td>
            <button class="button button-small button-outline button-positive" ng-click="#">
              <i class="icon ion-ios-search-strong"></i>
              Transactions
            </button>
          </td>
        </tr>
        <tr>
          <td> <label>Total Savings </label> </td>
          <td> :<i class="icon ion-social-bitcoin">
                  {{client.TotalSavings?client.TotalSavings:250}}
                </i>
          </td>
          <td>
            <button class="button button-small button-outline button-positive" ng-click="#">
              <i class="icon ion-ios-search-strong"></i>
              Transactions
            </button>
          </td>
        </tr>
        </table>
      </ion-item>

    </div>

  </ion-content>
</ion-view>
