<ion-view view-title="Clients">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">Clients' List</ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="client in clients" type="item-text-wrap" href="#/tab/clients/{{client.id}}">
	<img ng-src="{{client.face}}">
        <h2>{{client.name}}</h2>
        <p>{{client.fullname}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(client)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
