<ion-view view-title="SACCOs">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider"><span>SACCO List </span>
        <a href="#/tab/sacco-register" class="ion-plus-circled"
          title="Register SACCO" style="float: right; font-size: 25px">
        </a>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right"
          ng-repeat="sacco in data.saccos" type="item-text-wrap"
          href="#/tab/saccos/{{sacco.id}}">
            <h2 style="padding-left:10px;">#{{sacco.id}}: {{sacco.name}}</h2>
            <ion-option-button class="button-assertive" ng-click="remove(sacco)">
              Delete
            </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
