<ion-view view-title="Account">
  <ion-content>
    <!-- ion-list class="ion-list-calm">
    	<ion-toggle  ng-model="settings.enableFriends"> Enable Friends </ion-toggle>
    </ion-list -->
    <ion-card>
	<!-- hr / -->
    <!-- div class="list">
	<div class="item item-input-inset">
	<label class="item-input-wrapper">
	    <input type="text" placeholder="Email">
	</label>
	<button class="button button-small">
	    Submit
	</button>
	</div>
    </div -->

    <ion-card>
      <ion-list>
        <ion-item>
          <p>
            <ion-label>Welcome, <strong>{{session.username()}}</strong>!</ion-label>
          </p>
          <button class="button-calm button button-clear button-block button-outline" ng-click="logout()">Logout</button>
        </ion-item>
<!--
	INITIAL DESIGN SUGGESTED BY FRANCIS
	When a button is clicked a Modal pops up

	<br />
	<center>
	<button class="button button-clear button-calm button-outline">
	Register
	</button>

	<button class="button button-positive"><h4>Login</h4></button>
	</center>

	<br /><br />
	<center>Forgot your password ?
	<br /><!# call a popup to enter the username OR email #>
	<button class="button button-calm"
		ng-click="resetPassword()">
		Reset Password
	</button>
-->
      </ion-list>

    </ion-card>
  </ion-content>
</ion-view>
