<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>
.fullname {
  padding-left: 5px;
  margin-left: 5px;
}
</style>
<ion-view view-title="Staffs">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        Staff Members
        <!-- To Create New Staff Members
        a href="#/tab/staff-register" class="button icon ion-person-stalker"
          title="Register Staff" style="float: right; font-size: 25px">&nbsp;+
        </a -->
      </ion-item>

      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="s in staff" type="item-text-wrap" href="#/tab/staff/{{s.id}}">
        <img ng-src="{{'img/staff-placeholder-Male.jpg'}}">
        <div class="fullname">
          <h2>{{s.firstname}} {{s.lastname}}</h2>
        </div>
        <div>
          <span style="padding-left:2em">
            <div style="margin-top:10px" class="icon ion-ios-people"></div>
            : {{s.clients || "35" }}
          </span>
          | &Sigma;S: {{s.totalSavings || "55" }} <!-- Green -->
          | &Sigma;L: {{s.totalLoans || "80" }}   <!-- Red / Blue -->
        </div>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(client)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
