<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<!-- style type="text/css">
ion-content {
  background-color: tan;
}
</style -->
<ion-view view-title="New Clients Approval">
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        Clients Approval List
        <!-- a href="#/tab/client-register" class="button ion-person-add"
          title="Register Client" style="float: right; font-size: 25px">&nbsp;+
        </a -->
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-left item-icon-right" ng-repeat="client in clients" type="item-text-wrap" href="#/tab/clients/{{client.id}}">
        <img ng-src="{{client.face}}">
        <h2 style="padding-left:10px;">#{{client.id}}: {{client.displayName}}</h2>
        <p style="padding-left:10px;"> <!-- {{client.fullname}} -->
          Loans: {{clientOutstanding[client.id] || "NONE"}} |
          Savings: {{clientSavings[client.id] || "NONE"}}
        </p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(client)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
