<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<style>
ion-item.sacco-item .item-content {
  padding: 5px 10px;
}
span.sacco-icon {
  font-size: 200%;
  padding: 0 10px;
  float: left;
  height: 60px;
}
.sacco-data {
  display: inline;
}
.sacco-item h2 {
  font-size: 105%;
  font-family: corsiva serif;
}
.ion-ios-people {
/*  font-size: 2.3rem; */
}
.noMembers {
  color: #558;
  font-size:1rem;
}</style>
<ion-view view-title="SACCOs">

  <ion-nav-buttons side="right">
      <a class="right button button-icon icon ion-medkit" href="#/tab/sacco-register"></a>
  </ion-nav-buttons>

  <div class="bar bar-subheader item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="searchQuery" placeholder="Search ..." />
    </label>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher on-refresh="fetchNewSaccos()"></ion-refresher>
    <ion-list>
      <!-- <ion-item class="item-divider"><span>SACCO List</span>
        <a href="#/tab/sacco-register" class="button icon ion-medkit"
          title="Register SACCO" style="float: right; font-size: 25px">&nbsp;+
        </a>
      </ion-item> -->

      <ion-item class="item item-remove-animate item-avatar item-icon-right"
            ng-repeat="sacco in data.saccos | filter : searchQuery" type="item-text-wrap"
            href="#/tab/saccos/{{sacco.id}}">    

          <img src="img/saccos.png">
          <h2 class="sacco-icon">#{{sacco.id}}: {{sacco.name}}</h2>
          <!-- div>
            <span style="padding-left:2em">
              <div style="margin-top:10px" class="icon ion-ios-people"></div>
              : 
            </span>
            .
          </div -->
          <p ng-hide="{{sacco.members}}">
            <!-- i class="icon ion-close-round"></i -->
            <label class="noMembers">No Members</label>
          </p>
          <p ng-show="{{sacco.members}}">	
            <!-- i class="ion-ios-people"></i -->
            Members : {{sacco.members}}
          </p>
          <!-- div>
            <div style="margin-top:10px" class="icon ion-ios-people"> Members : {{sacco.members}}</div>
          </div -->
          <i class="icon ion-chevron-right icon-accessory"></i>
          <ion-option-button class="button-assertive" ng-click="remove(sacco)">
            Delete
          </ion-option-button>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
