<!-- script>
function ConfirmLogOut() {
    var x;
    if (confirm("Confirm Logout !") == true) {
        logout();
        x = "Logout Confirmed !";
    } else {
        x = "Logout Canceled !";
    }
    document.getElementById("demo").innerHTML = x;
}
</script -->

<style type="text/css">
table#SavSum tr>td {
  padding: 3px;
}

</style>


<ion-view view-title="Dashboard">
  <ion-content>
    <!-- ion-list class="ion-list-calm">
    	<ion-toggle  ng-model="settings.enableFriends"> Enable Friends </ion-toggle>
    </ion-list -->
    <ion-card>
	<!-- hr / -->
    <!-- div class="list">
	<div class="item item-input-inset">
	<label class="item-input-wrapper">
	    <input type="text" placeholder="Email">
	</label>
	<button class="button button-small">
	    Submit
	</button>
	</div>
    </div -->

    <ion-card>
      <ion-list>
        <ion-item>
          <ion-label>
            Welcome, <strong>{{session.username()}}</strong>!
          </ion-label>
        </ion-item>
        <ion-item>
          Your role: <strong>{{session.role}}</strong>     
          <!-- Table Summary -->
          <table id="SavSum" border="1" style="width:100%">
          <caption> Your Session Summary </caption>
          <!-- thead> 
          <tr> <th title="SI NO"> # </th> </tr>
          </thead -->
          <!-- tfoot>
          <tr> td>Short Report :</td>  </tr>
          </tfoot -->
          <tbody>
          <tr>
            <td>
              <div ng-show="rolestat.isAdmin"> Total SACCOs </div>
            </td>
            <td> : {{num_saccos}} </td>
            <td> 
              <a href="#/tab/saccos" class="button button-small noVertPadd">
                View
                <span class="icon ion-ios-briefcase-outline"> </span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <div ng-show="rolestat.isManagement"> Your Staff </div>
            </td>
            <td> : {{num_staff}} </td>
            <td> 
              <a href="#/tab/staff" class="button button-small noVertPadd">
                View
                <span class="icon ion-happy-outline"> </span>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <div ng-show="rolestat.isStaff"> Your Clients</div>
            </td>
            <td> : {{num_clients}} </td>
            <td> 
              <a href="#/tab/clients" class="button button-small noVertPadd">
                View
                <span class="ion-ios-people-outline"> </span>
              </a>
            </td>
          </tr>
          </tbody>
          </table>
        </ion-item>
        <ion-item>
          You're {{session.status()}}. 
          <div ng-hide="session.isOnline">
            Last synced: {{session.lastSyncSince()}}
            <br />
            <button class="button-calm button button-clear button-outline">
            Sync <span class="ion-ios-loop"></span>
            </button>
          </div>
        </ion-item>
        <ion-item>
          Logged in <em>@ {{session.loggedInTime()}}</em>
        </ion-item>
        <ion-item class="centered">
          <button class="button-calm button button-clear button-outline"
            ng-click="ConfirmLogOut()">
              Logout<span class="ion-log-out"></span>
          </button>
        </ion-item>
        <ion-item>
          <center> Visit: <label><a href="http://kmayra.org">kmayra.org</a> </label> </center>
        </ion-item>
    <!-- WILL BE USED IN PHASE 2
    	 in one of the Templates

        <ion-item>
        Manage Loan Application
        </ion-item>
        <ion-item>
        Name : 
        </ion-item>
        <ion-item>
          Loan Type : 
          <select>
          	<option value="Indivual" selected>
          	  Individual
          	</option>
          	<option> Group </option>
          	<option> etc ... </option>
          </select>
        </ion-item>
    -->
<!--
	INITIAL DESIGN SUGGESTED BY FRANCIS
	When a button is clicked a Modal pops up
	</button>
-->
      </ion-list>

    </ion-card>
  </ion-content>
</ion-view>
