<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<ion-view view-title="K-Mayra: Home">
  <ion-content class="padding">
    <img src="img/kmayra.png" width="188" height="60" title="K-Mayra" />
    <div class="list card">
      <!--span>John Wayne</span>
      <span class="account-status">
        <span>Savings $10</span>
        <span>Loans $40</span>
      </span-->
      K-Mayra is Micro-Financial Mobile App for <strong style="font-family:corsiva;"> KIFIYA </strong>
      <br />powered by <a href="#" style="text-decoration:none;"> SanJoseSolutions.in</a>
    </div>
  </ion-content>
</ion-view>
