<!--
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as
    published by the Free Software Foundation, either version 3 of the
    License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->


<style type="text/css">
table#SavSum tr>td {
  padding: 3px;
}
.button-small {
  padding: 5px;
}
tr {
  padding: 20px;
}
td {
  padding-bottom: 10px;
}
</style>

<ion-view view-title="Dashboard">
  <ion-content>

    <ion-card>

      <ion-list>
        <ion-item>
          <ion-label>
            Welcome, <strong>{{session.uname}}</strong>!
          </ion-label>
        </ion-item>
        <ion-item ng-show="num_clients && num_saccos && num_staff">
          Your role: <strong>{{session.role}}</strong>     
          <!-- Table Summary -->
          <table border="1" style="width:100%">
          <caption> Your Session Summary </caption>
          <!-- thead> 
          <tr> <th title="SI NO"> # </th> </tr>
          </thead -->
          <!-- tfoot>
          <tr> td>Short Report :</td>  </tr>
          </tfoot -->
          <tbody>
          <tr ng-show="rolestat.isAdmin && !num_saccos">
            <td>Loading SACCOs..</td>
            <td>&nbsp;</td>
            <td><ion-spinner></ion-spinner>
            </td>
          </tr>
          <tr ng-show="rolestat.isAdmin && num_saccos">
            <td>
              <div> Total SACCOs: </div>
            </td>
            <td> {{num_saccos}} </td>
            <td> 
              <a href="#/tab/saccos" class="button button-small noVertPadd">
                View
                <span class="icon ion-ios-briefcase-outline"> </span>
              </a>
              <!--span>{{nextSACCO}}</span-->
            </td>
          </tr>
          <tr ng-show="rolestat.isManagement && !num_staff">
            <td>Loading Staff..</td>
            <td>&nbsp;</td>
            <td><ion-spinner></ion-spinner>
            </td>
          </tr>
          <tr ng-show="rolestat.isManagement && num_staff">
            <td>
              <div> Your Staff: </div>
            </td>
            <td> {{num_staff}} </td>
            <td> 
              <a href="#/tab/staff" class="button button-small noVertPadd">
                View
                <span class="icon ion-happy-outline"> </span>
              </a>
            </td>
          </tr>
          <tr ng-show="rolestat.isStaff && !num_clients">
            <td>Loading Clients</td>
            <td>..</td>
            <td><ion-spinner></ion-spinner>
            </td>
          </tr>
          <tr ng-show="rolestat.isStaff && num_clients">
            <td>
              <div> Your Clients: </div>
            </td>
            <td>{{num_clients}} </td>
            <td> 
              <a href="#/tab/clients" class="button button-small noVertPadd">
                View
                <span class="ion-ios-people-outline"> </span>
              </a>
              <!--span>{{nextClient}}</span-->
            </td>
          </tr>
          <!-- FOR SAVINGS, LOANS, SHARES, etc
            <tr>
            <td colspan="2"></td>
            <td><ion-spinner></ion-spinner></td>
          </tr-->
          </tbody>
          </table>
        </ion-item>
        <ion-item>
          <center>
          Connection status: {{session.status()}}
            <span ng-if="session.isOnline" class="icon ion-android-cloud">&nbsp;</span>
          </center>
          <center ng-if="!session.isOnline">
            <span class="icon ion-android-cloud-outline">&nbsp;</span></center>
          <center ng-hide="session.isOnline">
            Last synced: {{session.lastSyncSince()}}
          </center>
        </ion-item>
        <ion-item>
          Logged in <em>@ {{session.loginTime}}</em>
        </ion-item>
        <ion-item class="centered">
          <button class="button-calm button button-clear button-outline"
              ng-click="ConfirmLogOut()">
            Logout
            <span class="ion-log-out"></span>
          </button>
        </ion-item>
        <ion-item>
          <center ng-show="msg">
            <tt style="font-size:60%">{{msg}}</tt>
          </center>
          <center><a href="#/tab/dashboard/logs">View Logs</a></center>
          <center>More visit: <label><a href="http://kmayra.org">kmayra.org</a> </label> </center>
        </ion-item>

      </ion-list>

    </ion-card>

  </ion-content>
</ion-view>
