<ion-view view-title="Account">
  <ion-content>
    <!-- ion-list class="ion-list-calm">
    	<ion-toggle  ng-model="settings.enableFriends"> Enable Friends </ion-toggle>
    </ion-list -->
    <ion-card>
	<!-- hr / -->
    <!-- div class="list">
	<div class="item item-input-inset">
	<label class="item-input-wrapper">
	    <input type="text" placeholder="Email">
	</label>
	<button class="button button-small">
	    Submit
	</button>
	</div>
    </div -->

    <ion-card>
      <ion-list>
        <ion-item>
          <p>
            <ion-label>Welcome, <strong>{{session.username()}}</strong>!</ion-label>
          </p>
          <button class="button-calm button button-block button-clear button-outline" ng-click="logout()">
            Logout <span class="ion-log-out"></span>
          </button>
        </ion-item>
        <ion-item>
          Visite : <label> http://live.kmayra.org </label>
        </ion-item>
    <!-- WILL BE USED IN PHASE 2
    	 in one of the Templates

        <ion-item>
        Manage Loan Application
        </ion-item>
        <ion-item>
        Name : 
        </ion-item>
        <ion-item>
          Loan Type : 
          <select>
          	<option value="Indivual" selected>
          	  Individual
          	</option>
          	<option> Group </option>
          	<option> etc ... </option>
          </select>
        </ion-item>
    -->
<!--
	INITIAL DESIGN SUGGESTED BY FRANCIS
	When a button is clicked a Modal pops up
	</button>
-->
      </ion-list>

    </ion-card>
  </ion-content>
</ion-view>
