# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore
*.sw?
www/js/shareholders.json
Makefile
*.json

node_modules/
platforms/
plugins/
# Added by Francis
Kmayra/

