/* Empty. Add your own CSS if you like */
.account-status {
  float: right;
}

/*
ion-nav-view
ion-nav-bar
*/
body	{
	background-color: grey;
/*  cursor: url(images/my-cursor.png), auto; */
}

.item-divider	{
	color: black;
	text-align: center;
	font-family: corsiva;
	font-size: 1.2rem;
	font-style: bold;
	font-style: italic;
/*	background-color: grey; */

}

/*
ion-content {
	background-color:#CDBA96;
}
*/

.ion-error {
  color: red;
  border: 1px solid #ff2222;
  padding: 3px 5px;
  background-color: #ffdddd;
}

.ion-info {
  color: green;
  border: 1px solid #22ff22;
  padding: 3px 5px;
  background-color: #ddffdd;
}

.ion-warn {
  color: #994400;
  border: 1px solid #ff8822;
  background-color: #ffdd99;
  padding: 3px 5px;
}

.centered {
  text-align: center;
}

.noVertPadd {
  padding: 0px 3px;
}

.Mandatory {
    font-size: 0.9rem;
    font-family: verdana;
    font-style: italic;
}


ion-content  {
/* background-color:lightgrey;  */
}

label {
  font-size:1.15rem;
  color: #558;
}
.item, ion-item {
  border: none;
/*  font-style:italic;  */
  font-family:corsiva;
}

